body:has(.index) {
    background: var(--pale);
    background-image: url(../assets/img/paper.png);
}

.index {
    display: grid;
    gap: 1rem;
    width: 100vw;
}

@media (min-width: 769px) {
    .index {
        grid-template-columns: 40% auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "beta welcome"
            "beta office_nav"
            "psalm_nav psalm_nav";
        gap: 2rem;
        padding: 4rem 2rem;
    }
}

@media (min-width: 1025px) {
    .index {
        width: 1024px;
        margin-inline: auto;
    }
}

header {
    justify-content: space-between;
    background: transparent;
}

@media (min-width: 1025px) {
    header {
        width: clamp(1024px, 80%, 1136px);
        margin-inline: auto;
    }
}

header .book-line {
    stroke: var(--color-main);
    filter: brightness(90%);
}

header .book-left {
    fill: var(--color-soft);
}

header .book-right {
    fill: var(--color-main);
}

header .buttons {
    display: flex;
    gap: 1rem;
    align-self: center;
}

header .buttons * {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

header .buttons .info svg {
    fill: var(--dark-transparent)
}

.index button {
    width: 100%;
    height: fit-content;
    padding: 1.25rem 0.5rem;
    color: var(--pale);
    font: 200 1.3em var(--ui-primary-font);
    border-width: 0;
    border-radius: 1em;
}

header h1, .index h1 {
    padding: 1rem;
    font: var(--heading-font);
    font-size: 2.25em;
}

header h1 svg {
    padding-left: 0.5rem;
    transform: translateY(0.33rem);
}

.index h2 {
    padding: 1rem;
    font: 500 1em var(--ui-primary-font);
}

.index + footer {
    display: grid;
    padding: 2rem 2rem 1rem;
    color: var(--mid-dark);
    background-color: transparent;
}

.index + footer a {
    color: var(--color-secondary-main);
    font-weight: 200;
    text-decoration: underline;
    text-underline-offset: 2px;
}
.index + footer .logo-1 {
    color: var(--color-soft);
}

.index + footer .logo-2 {
    color: var(--color-main);
}

@media (min-width: 1025px) {
    .index + footer {
        width: clamp(1024px, 90%, 1260px);
        margin-inline: auto;
    }
}

.index .beta {
    background: var(--color-tertiary-main);
    padding: 2rem;
    margin: 1rem 2rem;
    text-align: center;
    font: var(--ui-primary-font);
    border-radius: 1em;
}
@media (min-width: 769px) {
    .index .beta {
        grid-area: beta;
        margin: 0;
    }
}

.index .beta a {
    width: fit-content;
    padding-inline: 2rem;
    place-self: center;
}

.index .beta h3 {
    padding-bottom: 1rem;
    color: var(--pale);
    font: 400 1.75em var(--ui-primary-font);
}

.index .beta p {
    padding-bottom: 1rem;
    color: var(--pale);
    font: 500 1em var(--ui-primary-font);
}
.index section {
    display: grid;
    grid-template-rows: auto 1fr;
}

.index .expand-block .arrow {
    filter: invert(100%);
    opacity: 50%;
}

.index .expand-block .text {
    font-size: 1.3em;
}

.index .select {
    display: grid;
    gap: 1rem;
    padding-inline: 1.5rem;
    height: fit-content;
}

@media (min-width: 769px) {
    .index .select {
        padding-inline: 0;
    }
}

.index .office-nav {
    opacity: 0.2;
}
@media (min-width: 769px) {
    .index .office-nav {
        grid-area: office_nav;
    }
}

.index .office-nav h2 .soon {
    padding-right: 0.75rem;
    font: var(--ui-secondary-font);
}

.index .office-nav .select {
    grid-template-columns: 47% 47%;
    place-content: center;
}

.index .office-nav button {
    padding: 2.25rem 0.5rem;
    /* background: var(--color-tertiary-soft); */
    color: var(--mid-dark);
    background: var(--dark);
    font: var(--heading-font);
    font-size: 2rem;
}

.index .psalm-nav .select .content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1rem;
    margin-top: 1.5rem;
}

@media (min-width: 769px) {
    .index .psalm-nav {
        grid-area: psalm_nav;
    }

    .index .psalm-nav .select {
        display: none;
    }
}

.index .psalm-button {
    padding: 1.25rem 0.5rem;
    background: var(--pale-transparent);
    font: var(--ui-secondary-font);
    font-size: 1.1em;
    color: var(--bright);
    border-radius: 0.5rem;
}

.index .search {
    display: none;
}

@media (min-width: 769px) {
    .index .search {
        display: grid;
        font: 200 1em var(--ui-primary-font);
    }

    .index .search form {
        display: flex;
        gap: 0.5rem;
        height: fit-content;
        padding: 1rem;
        place-content: center;
        background: var(--color-main);
        color: var(--pale);
        border-radius: 1em;
    }

    .index .search form label {
        height: fit-content;
        align-self: center;
        font-size: 1.5rem;
    }

    .index .search form input, .index .search form button {
        height: 3.25rem;
        width: 4.5rem;
        padding: 0.5rem;
        font-weight: 400;
        outline: 0;
        border-radius: 0.5rem;
    }

    .index .search form input {
        align-self: center;
        background: var(--pale-translucent);
        text-align: center;
        font: 1.5rem var(--ui-primary-font);
        color: var(--dark);
        outline: 0;
        border-width: 0;
        margin-right: 2rem;
    }

    /* Chrome, Safari, Edge, Opera */
    .index .search form input::-webkit-outer-spin-button,
    .index .search form input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .index .search form input[type=number] {
        -moz-appearance: textfield;
    }

    .index .search form button.active {
        opacity: 1;
        color: var(--dark);
        cursor: pointer;
    }

    .index .search form button {
        background: var(--pale-transparent);
        font: var(--ui-secondary-font);
        font-size: 1.25rem;
        color: var(--pale-translucent);
        opacity: 0.5;
    }
}

@media (min-width: 769px) {
    .index .welcome {
        grid-area: welcome;
    }
}

.index .welcome button {
    background: var(--color-secondary-main);
    cursor: pointer;
}

.index .welcome button svg {
    position: relative;
    top: 0.15em;
    padding-left: 0.25rem;
}