.modal {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    pointer-events: none;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 10;
}

.modal::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
}

.modal[open] {
    pointer-events: auto;
}

.modal::before {
    position: fixed;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: var(--dark);
    will-change: transform;
    transition: opacity 500ms ease;
    content: '';
}

.modal[open]::before {
    opacity: 0.9;
    pointer-events: none;
}

.modal[close-top]::before {
    opacity: 0;
}

modal-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "modal_header"
        "modal_content"
        "modal_footer";
    position: relative;
    bottom: -100vh;
    padding: 1.5rem 1.5rem 2.5rem;
    margin: 20vh 0 10vh;
    background: var(--color-secondary-soft);
    border-radius: 2.25rem;
    will-change: transform;
    transition: bottom 500ms ease;
}

.modal[open] modal-card {
    bottom: 0;
}

.modal[close-top] modal-card {
    bottom: 100vh;
}

@media (min-width: 577px) {
    modal-card {
        width: clamp(576px, 80%, 768px);
        padding-inline: 3rem;
        justify-self: center;
    }
}

modal-card .modal-content {
    grid-area: modal_content;
}

modal-card .modal-close {
    color: var(--pale) !important;
    cursor: pointer;
}

modal-card .modal-close.top {
    grid-area: modal_header;
    justify-self: end;
}

modal-card .modal-close.bottom {
    grid-area: modal_footer;
    padding-top: 1.5rem !important;
    place-self: center !important;
    font: 400 1em var(--ui-primary-font) !important;
}

modal-card .modal-close svg {
    height: 1.75em;
}

modal-card[content=preferences-panel] {
    font: var(--ui-primary-font);
}

modal-card[content=preferences-panel] button {
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    background: var(--pale-transparent);
    color: var(--dark-transparent);
    font: 500 1em var(--ui-primary-font);
    border-width: 0;
    border-radius: 1em;
}

modal-card[content=preferences-panel] button.active {
    color: var(--dark);
    border: 4px solid var(--pale);
}

modal-card[content=preferences-panel] button:has(.tetra-hebrew) {
    padding: 0.3rem 0.5rem 0.5rem;
}

modal-card[content=preferences-panel] h2, modal-card[content=preferences-panel] h3 {
    color: var(--pale);
    text-align: center;
}

modal-card[content=preferences-panel] h2 {
    padding-bottom: 0.5em;
    font: 400 2em var(--ui-primary-font);
}

modal-card[content=preferences-panel] h3 {
    padding: 1.5em 0 0.5em;
    font: var(--ui-secondary-font);
    font-size: 1.2em;
}

modal-card[content=preferences-panel] .marker {
    color: var(--color-secondary-soft);
}

modal-card[content=preferences-panel] .select {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    row-gap: 0.5em;
    column-gap: 0.5em;
    padding: 0;
    justify-content: center;
}

@media (min-width: 577px) {
    modal-card[content=preferences-panel] .select {
        gap: 1em;
    }
}

modal-card[content=preferences-panel] .verse {
    display: block;
    width: fit-content;
    padding: 1em 1.5em;
    margin-inline: 1em;
    justify-self: center;
    background: var(--pale);
    background-image: url(../assets/img/paper.png);
    font: var(--body-font);
    border-radius: 1em;
}

modal-card[content=preferences-panel] .toggle button {
    height: 8rem;
    margin-top: 1.5rem;
}


modal-card[content=preferences-prompt] {
    height: fit-content;
    width: 100%;
    background: var(--color-tertiary-main);
}

modal-card[content=preferences-prompt] button {
    width: fit-content;
    padding: 1rem 1.5rem;
    justify-self: center;
    background: var(--pale-transparent);
    font: var(--ui-secondary-font);
    border-width: 0;
    border-radius: 1em;
    cursor: pointer;
}

modal-card[content=preferences-prompt] h2 {
    width: 100%;
    padding: 1em;
    color: var(--pale);
    text-align: center;
    font: 400 1.25em var(--ui-primary-font);
}

modal-card[content=preferences-prompt] p {
    width: 100%;
    padding: 1em;
    text-align: center;
    font: var(--ui-primary-font);
}

modal-card[content=preferences-prompt] svg {
    height: 1.5rem;
    transform: translateY(0.35rem);
    padding: 0.25rem;
    margin-inline: 0.25rem;
    background: var(--pale-translucent);
    fill: var(--dark);
    border-radius: 0.25rem;
}

modal-card[content=info] {
    font: var(--ui-primary-font);
}

modal-card[content=info] h2 {
    padding-bottom: 0.5em;
    color: var(--pale);
    text-align: center;
    font: 400 2em var(--ui-primary-font);
}

modal-card[content=info]p {
    padding: 0.5rem;
}

modal-card[content=info] .acknowledgements {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

modal-card[content=about] {
    font: var(--ui-primary-font);
    line-height: 1.5em;
}

modal-card[content=about] h2 {
    padding-bottom: 0.5em;
    color: var(--pale);
    text-align: center;
    font: 400 2em var(--ui-primary-font);
}

modal-card[content=about] p {
    padding: 1rem 0;
}

modal-card[content=about] svg {
    height: 0.8rem;
    padding-right: 0.25em;
    fill: var(--dark);
}

modal-card[content=about] .em-block {
    color: var(--pale);
    font-size: 2em;
    font-weight: 300;
    line-height: 1.25em;
}

modal-card[content=about] .inline-logo {
    background-color: var(--pale-translucent);
    color: var(--color-tertiary-main);
    font: var(--heading-font);
}

modal-card[content=about] .key {
    background-color: var(--pale-translucent);
    color: var(--dark);
    font: var(--ui-secondary-font);
    border: 3px solid var(--pale-transparent);
}