
psalm-card {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        "psalm_title"
        "psalm_content";
}

.psalm-box {
    z-index: 4;
    grid-area: psalm_content;
    position: relative;
    top: 0;
    min-height: 50vh;
    padding: 3rem 1.75rem 3rem 1.25rem;
    background: var(--pale);
    background-image: url(../assets/img/paper.png);
    border-radius: 2.25rem;
    will-change: transform;
}

nav.multi:not(:last-child)[expanded] + .psalm-box {
    top: 6rem;
}

.psalm-box:has(+ nav.multi:last-child[expanded]) {
    top: 1rem;
}

@media (min-width: 577px) {
    .psalm-box {
        width: 576px;
        margin-inline: auto;
    }
}

.refrain .rubric {
    color: var(--color-soft);
    text-align: center;
    font: var(--heading-font);
    font-size: 2em;
    line-height: 1.2em;
}

.refrain .refrain-text {
    padding: 0.5rem 0;
    color: var(--color-main);
    text-align: center;
    font: var(--heading-font);
    font-size: 1.4em;
    line-height: 1.25em;
}

.refrain.top {
    padding-bottom: 1.75rem;
}

.refrain.bottom {
    padding-top: 1.75rem;
}

.psalm-box .psalm-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    line-height: 1.5em;
}

.verse {
    display: grid;
    grid-template-columns: 2em 1fr;
    gap: 1rem;
}

.vn {
    color: var(--color-soft);
    text-align: right;
    font: var(--body-font);
}

.vs {
    min-width: 14ch;
    max-width: fit-content;
    padding-left: 1.5em;
    color: var(--dark);
}

.vi-1 {
    text-indent: -1.5em;
}

.vi-2 {
    text-indent: -1em;
}

.vi-3 {
    text-indent: -0.5em;
}

.marker {
    position: relative;
    bottom: 0.05em;
    opacity: 75%;
    color: var(--color-soft);
}

h2.part-heading {
    padding-bottom: 0.15em;
    color: var(--color-soft);
    text-align: center;
    font: var(--heading-font);
    font-size: 1.2em;
}

.verse + .part-heading {
    padding-top: 1em;
}

.def-up,
.def-low,
.voc,
.tetra-latin,
.pn-caps-enabled .pn-sub-up,
.pn-caps-enabled .pn-sub-low,
.pn-caps-enabled .pn-ob-low,
.pn-caps-enabled .pn-pl-up,
.pn-caps-enabled .pn-pl-low,
.pn-caps-enabled .pos {
    font: small-caps 600 1.05em 'Bellefair', 'Alegreya Sans', sans-serif;
}

h3 .def-up,
h3 .def-low,
h3 .voc,
.pn-caps-enabled h3 .pn-sub-up,
.pn-caps-enabled h3 .pn-sub-low,
.pn-caps-enabled h3 .pn-ob-low,
.pn-caps-enabled h3 .pn-pl-up,
.pn-caps-enabled h3 .pn-pl-low,
.pn-caps-enabled h3 .pos {
    font: small-caps italic 500 0.95em 'Bellefair', 'Alegreya', serif;
}

.def-up,
.def-low,
.voc {
    vertical-align: 0.06em;
}

.pn-caps-enabled .pn-sub-up,
.pn-caps-enabled .pn-sub-low,
.pn-caps-enabled .pn-ob-low,
.pn-caps-enabled .pn-pl-up,
.pn-caps-enabled .pn-pl-low,
.pn-caps-enabled .pos {
    vertical-align: 0.0175em;
}


.tetra-hebrew {
    font: 500 1.25em 'Bellefair', serif !important;
    transform: translateY(19px);
}

.psalm::before {
    z-index:1;
    grid-area: psalm_content;
    height: 2rem;
    position: sticky;
    top: var(--full-title-height);
    background: var(--color-main);
    content: '';
}

@media (min-width: 577px) {
    top: var(--condensed-title-height);
}