@use '../layout' as layout;
@use '../assets' as asset;
@use '../fonts' as font;

// improve: check if necessary?
.lectionary::after {
  position: relative;
  bottom: 0;
  height: 3rem;
  align-self: end;
  background: var(--dark);
  content: '';

  @media (min-width: layout.$md) {
    display: none;
  }
}

office-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
        "office_title"
        "office_content";
/*
  &::before {
    display: grid;
    grid-area: office_content;
    height: 2rem;
    width: 100%;
    position: sticky;
    background: var(--color-main);
    content: '';
    top: 2.25rem;
  }
  */

  &:has(nav.multi)::before {
    display: block;
    grid-area: office_content;
    height: 2rem;
    position: sticky;
    content: '';
    top: 2.25rem;

  }

  &[office='morning']:has(nav.multi)::before {
    background: var(--morning-office-nav-multi);
  }

  &[office='evening']:has(nav.multi)::before {
    background: var(--evening-office-nav-multi);
  }

  &[office='morning'] > .title-box {
    background: asset.$morning-title;
  }

  &[office='evening'] > .title-box {
    background: asset.$evening-title;
  }

  & > .title-box {
    grid-area: office_title;

    h1 {
      color: var(--on-office-title-card);
    }

    h2 {
      font-size: 2em;
      color: var(--rubric-on-office-title-card);
    }

    @media (min-width: layout.$md) {
      background: none !important;
      position: relative;
    }
  }

  &[office='morning'] nav.multi {
    background: var(--morning-office-nav-multi);
  }

  &[office='evening'] nav.multi {
    background: var(--evening-office-nav-multi);
  }

  nav.multi {
    grid-area: office_content;
    z-index: 1;
    padding-bottom: 4.5rem !important;
    will-change: transform;
    transition: all 500ms ease;
    color: (--on-office-nav-multi);

    .drop.vertical {
      display: grid;
      gap: 2rem;
    }

    div:not(:has(.options)) .day {
      @include layout.rounded-sm;
      padding: 1rem 1.5rem;
      background: var(--transparent-button);
      cursor: pointer;
    }

    div[active]:not(:has(.options)) .day {
      background: var(--transparent-button-active) !important;
      border-color: var(--transparent-button-detail) !important;
    }

    .day {
      margin: 0.5rem auto 0.5rem;
      text-align: center;
      width: fit-content;
      font-size: 1.25em;
      line-height: 1.75em;
    }

    .options {
      margin-top: 0.5rem;
      * {
        padding: 0.5rem 1rem;
        margin-inline: 0.25rem;
        @include layout.rounded-sm;
        background: var(--transparent-button);
        cursor: pointer;

        &[active] {
          background: var(--transparent-button-active) !important;
          border-color: var(--transparent-button-detail) !important;
        }
      }
    }
  }

  .office-psalms {
    grid-area: office_content;
    display: grid;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    pointer-events: none;
    @include layout.overlap-top;

    psalm-card {
      display: grid;

      @media (min-width: layout.$md) {
        .title-box {
          opacity: 0.5;
        }
      }

      &:not(:first-of-type)::after {
        display: block;
        grid-area: psalm_title;
        height: 2.25rem;
        position: sticky;
        background: var(--text-surface);
        content: '';
        top: 0;

        @media (min-width: layout.$md) {
          display: none;
        }
      }

      &:not(:last-of-type) .psalm-box {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @media (min-width: layout.$md) {
          @include layout.rounded-bottom;
          margin-bottom: 0;
        }
      }
    }
  }
}