@font-face {
    font-family: "Alegreya Heading";
    font-weight: 500;
    src: url(../assets/fonts/alegreya/alegreya-500-italic.woff2);
}

@font-face {
    font-family: "Alegreya Sans";
    src: url(../assets/fonts/alegreya_sans/alegreya-sans-var.ttf);
}


@font-face {
    font-family: "Alegreya Sans Italic";
    src: url(../assets/fonts/alegreya_sans/alegreya-sans-var-italic.ttf);
}

@font-face {
    font-family: "Lexend Deca";
    font-weight: 100 500;
    src: url(../assets/fonts/lexend_deca/LexendDeca-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Lexend Giga";
    font-weight: 100 500;
    src: url(../assets/fonts/lexend_giga/LexendGiga-VariableFont_wght.ttf);
}

:root {

    /* Base colors */

    --teal: #008F98;
    --teal-soft: #6FB9BC;
    --teal-dark: #223536;
    --teal-clear: #008F9800;

    --purple: #995A88;
    --purple-soft: #B37BA4;
    --purple-dark: #3d2a39;
    --purple-clear: #B37BA400;

    --coral: #D76D6D;
    --coral-soft: #E88686;
    --coral-dark: #3a2929;
    --coral-clear: #D76D6D00;

    --bright: #F9F6F4;
    --pale: #F0EAE7;
    --mid: #6b6466;
    --dark: #222222;
    --black: #000000;

    --pale-transparent: #F0EAE73F;
    --pale-translucent: #F0EAE780;
    --dark-transparent: #22222280;

    /* Base fonts */

    --serif-italic: "Alegreya Heading", serif;
    --sans-serif: "Alegreya Sans", sans-serif;
    --sans-serif-italic: "Alegreya Sans Italic", sans-serif;
    --reading-sans: "Lexend Deca", sans-serif;
    --reading-sans-wide: "Lexend Giga", sans-serif;

    /* Svg */

    --up-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M9.47 6.47a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 8.06l-3.72 3.72a.75.75 0 0 1-1.06-1.06l4.25-4.25Z" clip-rule="evenodd" /></svg>');
    --down-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" /></svg>');





    /* Options */

    --page-bg: var(--dark);
    --body-text: var(--dark);
    --body-bg: var(--pale);
    --color-main: var(--purple);
    --color-soft: var(--purple-soft);
    --color-dark: var(--purple-dark);
    --color-clear: var(--purple-clear);
    --color-secondary-main: var(--coral);
    --color-secondary-soft: var(--coral-soft);
    --color-tertiary-main: var(--teal);
    --color-tertiary-soft: var(--teal-soft);

    --heading-font: var(--serif-italic);
    --ui-primary-font: var(--sans-serif);
    --ui-secondary-font: var(--sans-serif-italic);
    --body-font: var(--reading-sans);
    --body-font-wide: var(--reading-sans-wide);
    --font-size: 1.2rem;
}

html {
    box-sizing: border-box;
    overscroll-behavior: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

p, h1, h2, h3 {
    margin: 0;
}

body {
    background: var(--page-bg);
    font-family: var(--body-font);
    font-size: var(--font-size);
    margin: 0;
    overscroll-behavior: none;
    justify-content: center;
}

body:has(.landing.open), body:has(.modal.open) {
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
}

main {
    max-width: 700px;
}

/*************/
/** LANDING **/
/*************/

.landing {
    z-index: 6;
    height: 100vh;
    position: absolute;
    top: 0;
    background: var(--pale);
    display: none;
    grid-template-rows: auto 1fr;
    grid-template-areas:
            "landing-header"
            "landing-body";
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
}

.landing.open {
    display: grid;
}

.landing header {
    grid-area: landing-header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0 1.5rem;
}

.landing h1 {
    font-family: var(--heading-font);
    font-size: 2em;
    padding: 1rem 0;
}

.logo-1 {
    color: var(--color-soft);
}

.logo-2 {
    color: var(--color-main);
}

.landing .header-buttons {
    display: flex;
    gap: 1rem;
    align-self: center;
}

.landing .header-info svg {
    height: 2rem;
    width: 2rem;
    fill: var(--dark-transparent)
}

.landing .header-prefs svg {
    height: 2rem;
    width: 2rem;
}

.landing .header-prefs .top {
    fill: var(--color-secondary-main)
}
.landing .header-prefs .mid {
    fill: var(--color-main)
}
.landing .header-prefs .bottom {
    fill: var(--color-tertiary-main)
}

.landing h2 {
    font-family: var(--ui-primary-font);
    font-size: 1em;
    padding: 1rem;
    font-weight: 500;
}

.inline-flow-logo {
    font-family: var(--ui-secondary-font);
}

/* Landing content */

.landing-content {
    grid-area: landing-body;
    display: grid;
    height: fit-content;
    gap: 1rem;
    padding-bottom: 2rem;
}

.landing-content section {
    display: grid;
    grid-template-rows: auto 1fr;
}

.landing .select {
    display: grid;
    gap: 1rem;
    padding-inline: 1.5rem;
}

.landing button {
    color: var(--pale);
    font-family: var(--ui-primary-font);
    font-weight: 200;
    border-width: 0;
    font-size: 1.3em;
    border-radius: 1em;
    width: 100%;
    height: fit-content;
    padding: 1.25rem 0.5rem;
}

/* Beta */

.landing .beta {
    background: var(--color-tertiary-main);
    padding: 2rem;
    margin: 1rem 2rem;
    border-radius: 1em;
    font-family: var(--ui-primary-font);
    text-align: center;
}

.landing .beta h3 {
    font-weight: 400;
    font-size: 1.75em;
    padding-bottom: 1rem;
    color: var(--pale);
}

.landing .beta p {
    padding-bottom: 1rem;
    color: var(--dark);
}

.landing .beta a {
    place-self: center;
    width: fit-content;
    padding-inline: 2rem;
}

/* Welcome */

.landing .welcome button {
    background: var(--color-secondary-main);
}

.landing .welcome button svg {
    height: 1em;
    position: relative;
    top: 0.15em;
    padding-left: 0.25rem;
}

/* Lectionary */

.landing-content .lectionary {
    opacity: 0.2;
}

.landing-content .lectionary h2 .soon {
    padding-right: 0.75rem;
    font-family: var(--ui-secondary-font);
}

.landing-content .lectionary .select {
    grid-template-columns: 47% 47%;
    place-content: center;
}

.landing .lectionary button {
    /* background: var(--color-tertiary-soft); */
    color: var(--mid);
    background: var(--dark);
    font-family: var(--heading-font);
    font-size: 2rem;
    padding: 2.25rem 0.5rem;
}

/* Psalms */

.landing .exp {
    color: var(--pale);
    font-family: var(--ui-primary-font);
    font-weight: 200;
    border-radius: 1em;
    height: 4rem;
    padding: 1rem 1rem 2rem;
    overflow-y: hidden;
    background: var(--color-main);
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
            "p-title"
            "p-drop";
}

.landing .exp.open {
    height: 100%;
}

.landing .exp.open .expanding-block-arrow {
    transform: rotate(180deg) !important;
}

.landing .exp .expanding-block-title {
    grid-area: p-title;
    display: flex;
    gap: 1ch;
    flex-wrap: wrap;
    place-content: center;
}

.landing .exp .expanding-block-text {
    cursor: pointer;
    font-size: 1.3em;
    opacity: 1;
}

.landing .exp .expanding-block-arrow {
    background-image: var(--down-arrow);
}

.landing .psalm-buttons {
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto auto auto;
}

.landing .ps {
    font-family: var(--ui-secondary-font);
    font-size: 1.1em;
    font-weight: 500;
    background: var(--pale-transparent);
    border-radius: 0.5rem;
    padding: 0.5rem
}

/*************/
/** PSALTER **/
/*************/

.psalter {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "psalter-header"
            "psalter-body"
            "psalter-footer";
    max-width: 800px;
}

/*********/
/** NAV **/
/*********/

.main-nav {
    height: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0.5em;
    color: var(--pale);
    background: var(--dark);
}

.nav-top {
    grid-area: psalter-header;
    position: relative;
    top: 0;
    width: 100%;
}

.nav-bottom {
    grid-area: psalter-footer;
    position: relative;
    bottom: 0;
    width: 100%;
}

.nav-block-top {
    grid-area: psalter-header;
    height: 3.65rem;
}

.nav-block-bottom {
    grid-area: psalter-footer;
    height: 3.65rem;
    position: relative;
}

nav:not(.split-nav) svg {
    height: 1.75em;
    cursor: pointer;
}
.nav-to-top svg {
    height: 1.4em !important;
}


/*******************/
/** BOOK-DROP NAV **/
/*******************/

.book-drop {
    grid-area: psalter-body;
    z-index: 1;
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    gap: 2rem;
    color: var(--pale);
    background: var(--dark);
    padding: 1rem 1.5rem 0.75rem;
    margin: 1.5rem 0;
    border-radius: 1.5rem;
    position: relative;
    opacity: 0;
    will-change: transform;
    transition: all 100ms ease;
}

.book-drop.open {
    opacity: 1;
}

/************/
/** MODALS **/
/************/

.modal {
    z-index: 6;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    will-change: transform;
    transition: opacity;
    opacity:0;
    pointer-events: none;
}

.modal.open {
    opacity: 1;
    pointer-events: auto;
}

.modal-content{
    z-index: 6;
    height: 100vh;
    position: absolute;
    bottom: -100vh;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    will-change: transform;
    transition: bottom 500ms ease;
}

.open .modal-content {
    bottom: 0;
}

.modal-inner::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.modal-inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "modal-header"
            "modal-body"
            "modal-footer";
    margin: 20vh 0 10vh;
    background: var(--color-secondary-soft);
    border-radius: 2.25rem;
    padding: 1.5rem 1.5rem 2.5rem;
    transition: all 500ms ease;
}

.modal-close.modal-close-top {
    grid-area: modal-header;
    color: var(--pale);
    justify-self: end;
}

.modal-close svg {
    height: 1.75em;
    cursor: pointer;
}

.modal-close.modal-close-bottom {
    grid-area: modal-footer;
    font-family: var(--ui-primary-font) !important;
    color: var(--pale) !important;
    font-weight: 400 !important;
    place-self: center !important;
    padding-top: 1.5rem !important;
}

.modal-bg {
    z-index: 5;
    opacity: 0;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: var(--dark);
    will-change: transform;
    transition: all 500ms ease;
}

.open .modal-bg {
    opacity: 0.8;
    cursor: pointer;
    pointer-events: none;
}

/*****************/
/** PREFERENCES **/
/*****************/

.preferences {
    grid-area: modal-body;
    font-family: var(--ui-primary-font);
    display: none;
}

.preferences.open {
    display: grid;
}

.preferences h2 {
    text-align: center;
    font-weight: 400;
    font-family: var(--ui-primary-font);
    color: var(--pale);
    font-size: 2em;
    padding-bottom: 0.5em;
}

.preferences h3 {
    text-align: center;
    font-weight: 500;
    font-family: var(--ui-secondary-font);
    color: var(--pale);
    font-size: 1.2em;
    padding: 1.5em 0 0.5em;
}

.preferences .verse {
    font-family: var(--body-font);
    display: block;
    background: var(--pale);
    border-radius: 1em;
    padding: 1em 1.5em;
    margin-inline: 1em;
}

.preferences .marker {
    color: var(--color-secondary-soft);
}

.preferences .options-select {
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    row-gap: 0.5em;
    column-gap: 0.5em;
    padding: 0;
}

.preferences button {
    color: var(--dark);
    font-family: var(--ui-primary-font);
    font-weight: 500;
    border-width: 0;
    font-size: 1em;
    border-radius: 1em;
    width: 100%;
    height: 4rem;
    padding: 0.5em;
    background: var(--pale-transparent);
}

.preferences button.active {
    border: 5px solid var(--pale);
}

.preferences .toggle button {
    height: 8rem;
    margin-top: 1.5rem;
}

.preferences .options-check {
    place-content: center;
    display: grid;
    grid-template-rows: 2em 2em;
    grid-template-columns: 2rem auto;
    row-gap: 0.5em;
    column-gap: 0.5em;
    padding: 1em;
}

.option-check {
    border-width: 0;
}

.check-label {
    align-self: center;
}


/********/
/**INFO**/
/********/

.info {
    grid-area: modal-body;
    font-family: var(--ui-primary-font);
    display: none;
}

.info.open {
    display: grid;
}

.info h2 {
    text-align: center;
    font-weight: 400;
    font-family: var(--ui-primary-font);
    color: var(--pale);
    font-size: 2em;
    padding-bottom: 0.5em;
}

a.button {
    color: var(--dark);
    font-family: var(--ui-secondary-font);
    font-weight: 500;
    border-width: 0;
    font-size: 1em;
    border-radius: 1em;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background: var(--pale-transparent);
    text-decoration: none;
    text-align: center;
}

.info .acknowledgements {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.info p {
    padding: 0.5rem;
}

/***********/
/** ABOUT **/
/***********/

.about {
    grid-area: modal-body;
    font-family: var(--ui-primary-font);
    display: none;
}

.about.open {
    display: grid;
}

.about .em-block {
    color: var(--pale);
    font-size: 2em;
}

.about .inline-logo {
    font-family: var(--heading-font);
    color: var(--color-tertiary-main);
    background-color: var(--pale);
}

.about .key {
    font-family: var(--ui-secondary-font);
    color: var(--dark);
    background-color: var(--pale-translucent);
}

.about p {
    padding: 1rem 0;
}

.about p svg {
    fill: var(--dark);
    height: 0.8em;
    padding-right: 0.25em;
}



.about h2 {
    text-align: center;
    font-weight: 400;
    font-family: var(--ui-primary-font);
    color: var(--pale);
    font-size: 2em;
    padding-bottom: 0.5em;
}

/*******************/
/** IN-LINE PREFS **/
/*******************/

.def-u, .def-l, .voc, .dn-tetra {
    font-family: var(--sans-serif);
    font-variant: small-caps;
    font-weight: 400;
}

.def, .voc {
    font-family: var(--sans-serif);
    font-variant: small-caps;
    font-weight: 400;
}

.pn-caps-enabled .pn-s-u, .pn-caps-enabled .pn-s-l, .pn-caps-enabled .pn-o-u, .pn-caps-enabled .pn-o-l, .pn-caps-enabled .pn-p-u, .pn-caps-enabled .pn-p-l, .pn-caps-enabled .pos {
    font-family: var(--sans-serif);
    font-variant: small-caps;
    font-weight: 400;
}

/*************/
/** PSALM **/
/*************/

.psalm {
    grid-area: psalter-body;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
            "psalm-title"
            "psalm-text";
}

/* TITLE */

.title-box {
    z-index: 0;
    grid-area: psalm-title;
    height: 60vh;
    max-height: 550px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: var(--color-main);
    border-top-left-radius: 2.25rem;
    border-top-right-radius: 2.25rem;
}

/**** IF SPLIT PSALM ****/
.split  .title-box {
    height: 75vh !important;
}

.title-box-extend {
    grid-area: psalm-text;
    align-self: start;
    height: 2rem;
    background: var(--color-main);
}

.title-text {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 4rem;
    width: 50%;
    line-height: 1.1em;
    text-align: center;
    color: var(--bright);
    position: absolute;
    top: 22vh;
}

/***************/
/** SPLIT NAV **/
/***************/

.split-nav {
    align-self: end;
    z-index: 1;
    color: var(--pale);
    background: var(--color-soft);
    grid-template-rows: auto auto;
    gap: 0.5rem;
    font-family: var(--heading-font);
    position: sticky;
    display: none;  /* SEE NEXT */
}

/**** IF SPLIT PSALM ****/
.split  .split-nav {
    display: grid !important;
}

.split-nav-top {
    grid-area: psalm-title;
    top: 0;
    border-top-left-radius: 2.25rem;
    border-top-right-radius: 2.25rem;
    padding: 0.5rem 1rem 2.5rem;  /* SEE NEXT */
    grid-template-areas:
            "s-title"
            "s-drop";
    will-change: transform;
    transition: transition 500ms ease;
    z-index: 1;
}

/**** IF SPLIT TOP SHOWN ****/
.split-top-open .split-nav-top {
    padding: 0.5rem 1rem 4.5rem !important;
}

.split-nav-bottom {
    grid-area: psalm-text;
    bottom: 0;
    border-bottom-left-radius: 2.25rem;
    border-bottom-right-radius: 2.25rem;
    padding: 2.5rem 1rem 1rem;  /* SEE NEXT */
    grid-template-areas:
            "s-drop"
            "s-title";
    will-change: transform;
    transition: all 500ms ease;
    z-index: 0;
}

/**** IF SPLIT BOTTOM SHOWN ****/
.split-bottom-open .split-nav-bottom {
    padding: 4rem 1rem 1rem !important;
}

.split-nav .expanding-block-title {
    grid-area: s-title;
    display: flex;
    gap: 1ch;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.expanding-block-text {
    font-size: 1.5em;
    opacity: 0.8;
    cursor: pointer;
}

.expanding-block-arrow {
    background-image: var(--up-arrow);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    position: relative;
    top: 30%;
    filter: invert(100%);
    opacity: 50%;
    will-change: transform;
    transition: all 500ms ease;
    cursor: pointer;
}

.expanding-block-spacer {
    width: 20px;
}

.split-nav-bottom .expanding-block-arrow {
    background-image: var(--down-arrow);
}

/**** IF SPLIT TOP SHOWN ****/
.split-top-open .split-nav-top .expanding-block-arrow {
    transform: rotate(180deg) !important;
    opacity: 0;
}

/**** IF SPLIT BOTTOM SHOWN ****/
.split-bottom-open .split-nav-bottom .expanding-block-arrow {
    transform: rotate(0deg) !important;
    opacity: 0;
}

.split-nav-drop {
    font-family: var(--ui-secondary-font);
    font-weight: 600;
    grid-area: s-drop;
    font-size: 1em;
    opacity: 60%;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    flex-direction: row;
    justify-content: left;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.split-nav-drop::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.split-nav-drop * {
    text-align: center;
    flex-grow: 0;
    flex-basis: 5rem;
    padding: 0 0.5rem;
    cursor: pointer;
}

.split-nav-drop *:first-child {
    padding-left: 5rem;
}

.split-nav-drop *:last-child {
    padding-right: 5rem;
}

.split-nav-drop .active {
    color: var(--dark);
    opacity: 50%;
}

.split-nav-l-grad {
    display: inline;
    grid-area: s-drop;
    background: linear-gradient(to right, var(--color-soft), var(--color-clear));
    width: 5rem;
    justify-self: start;
    z-index: 1;
    pointer-events: none;
}

.split-nav-r-grad {
    display: inline;
    grid-area: s-drop;
    background: linear-gradient(to left, var(--color-soft), var(--color-clear));
    width: 5rem;
    justify-self: end;
    z-index: 1;
    pointer-events: none;
}

/** PSALM **/

.psalm-box {
    grid-area: psalm-text;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem 3rem 1rem;
    background: var(--pale);
    border-radius: 2.25rem;
    position: relative;
    top: 0;  /* SEE NEXT */
    transform: translate3d(0,0,0);
    will-change: transform;
}

/**** IF SPLIT PSALM ****/
.split .psalm-box {
    top: -3.75rem;
}

/**** IF SPLIT BOTTOM SHOWN ****/
.split-bottom-open .psalm-box {
    top: -6rem !important;
}

/* REFRAIN */

.refrain-heading {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 2em;
    line-height: 1.2em;
    text-align: center;
    color: var(--color-soft);
}

.refrain {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.25em;
    padding: 0.5rem 0;
    text-align: center;
    color: var(--color-main);
}

.top-refrain {
    padding-bottom: 1.75rem;
}

.bottom-refrain {
    padding-top: 1.75rem;
}

/* HEADER */

header {
    position: relative;
    margin: 0;
}

/* PSALM TEXT */

.psalm-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    line-height: 1.5em;
}

.verse {
    display: grid;
    grid-template-columns: 2em 1fr;
    gap: 1rem;
}

.vn {
    text-align: right;
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    color: var(--color-soft);
}

.vs {
    font-weight: 300;
    color: var(--dark);
    padding-left: 1.5em;
    min-width: 14ch;
    max-width: fit-content;
}

.vi-1 {
    text-indent: -1.5em;
}

.vi-2 {
    text-indent: -1em;
}

.vi-3 {
    text-indent: -0.5em;
}

.marker {
    color: var(--color-soft);
    position: relative;
    bottom: 0.05em;
    opacity: 75%;
}

h2.part-heading {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--color-soft);
    font-size: 1.2em;
    padding-bottom: 0.15em;
}

.verse + .part-heading {
    padding-top: 1em;
}

.hidden {
    opacity: 0;
}
