@use '../layout' as layout;
@use '../assets' as asset;
@use '../fonts' as font;

.expand {

  .title {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "exp_spacer exp_text exp_arrow";
    gap: 1ch;
    place-content: center;
    cursor: pointer;

    &::before {
      grid-area: exp_spacer;
      width: 1rem;
      height: 1rem;
      content: '';
    }
  }

  .arrow {
    grid-area: exp_arrow;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    align-self: center;
    will-change: transform;
    cursor: pointer;
  }
}

.expand-block {
  @include layout.rounded-sm;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
      "exp_block_title"
      "exp_block_drop";
  height: 4rem;
  padding: 1rem 1rem 2rem;
  justify-content: center;
  overflow-y: hidden;
  font: font.$primary-heading;

  &[expanded] {
    height: 100% !important;

    .arrow {
      transform: rotate(180deg) !important;
    }
  }

  .title {
    grid-area: exp_block_title;
  }

  .arrow {
    transition: all 500ms ease;
  }

  .content {
    grid-area: exp_block_drop;
  }
}

.expand-menu {
  // Top
  &:not(:last-child) {
    .arrow {
      @include asset.icon('up-arrow', 1em, var(--on-mid-shade));
    }

    &[expanded] .arrow {
      transform: rotate(180deg) !important;
    }
  }

  //Bottom
  &:last-child {
    .arrow {
      @include asset.icon('down-arrow', 1em, var(--on-mid-shade));
    }

    &[expanded] .arrow {
      transform: rotate(0deg) !important;
    }
  }

  &[expanded] .arrow {
    opacity: 0;
  }
}