@use '../resources' as const;

.modal {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  pointer-events: none;
  overflow-y: scroll;
  scrollbar-width: none;
  z-index: 10;

  &::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
  }

  &::before {
    position: fixed;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: var(--wg-1000);
    will-change: transform;
    transition: opacity 500ms ease;
    content: '';
  }

  &[open]::before {
    opacity: 0.9;
  }

  &[close-top]::before {
    opacity: 0;
  }
}

modal-card {
  @include const.rounded;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
        "modal_header"
        "modal_content"
        "modal_footer";
  position: relative;
  bottom: -100vh;
  padding: 1.5rem 2.5rem 2.5rem;
  margin: 20vh 0 10vh;
  background: const.$teal-test var(--modal-background);
  font-family: const.$ui-primary-family;
  color: var(--text-on-modal);
  will-change: transform;
  transition: bottom 500ms ease;
  pointer-events: auto;

  [open] & {
    bottom: 0;
  }

  [close-top] & {
    bottom: 100vh;
  }

  @media (min-width: const.$md) {
    width: clamp(576px, 80%, 768px);
    padding-inline: 3rem;
    justify-self: center;
  }

  .modal-close {
    color: var(--text-on-modal) !important;
    cursor: pointer;

    &.top {
      grid-area: modal_header;
      justify-self: end;
    }

    &.bottom {
      grid-area: modal_footer;
      padding-top: 1.5rem !important;
      place-self: center !important;
      font: 400 1em const.$ui-primary-font !important;
    }

    svg {
      height: 1.75em;
    }
  }

  .modal-content {
    grid-area: modal_content;

    h2, h3 {
      color: var(--text-on-modal);
      font-weight: 500;
      text-align: center;
      font-size: 1.2em;
    }

    h2 {
      font: 500 2em const.$ui-primary-family;
      padding-bottom: 0.5em;
    }

    h3 {
      font: const.$ui-secondary-font;
      padding: 1.5em 0 0.5em;
    }
  }

  &[content='preferences-panel'] {

    button {
      @include const.rounded-sm;
      width: 100%;
      height: 4rem;
      padding: 0.5rem;
      background: var(--modal-button-background);
      color: var(--text-on-modal-button);
      font: const.$ui-primary-font;

      &.active {
        color: var(--text-on-modal-button-active);
        font-weight: 600;
        background: const.$purple-test var(--primary); // TODO remove test and restore var(--modal-button-active)
        border: 2px solid var(--button-active-detail);
      }

      &:has(.tetra-hebrew) {
        padding: 0.3rem 0.5rem 0.5rem;
      }
    }

    .marker {
      color: var(--body-detail);
    }

    .select {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 50% 50%;
      row-gap: 0.5em;
      column-gap: 0.5em;
      padding: 0;
      justify-content: center;

      @media (min-width: const.$md) {
        gap: 1em;
      }
    }

    // improve: fix content shifting when options are changed -- regularise box size?
    .verse {
      @include const.rounded-sm;
      color: var(--text-on-body);
      display: block;
      width: fit-content;
      padding: 1em 1.5em;
      margin-inline: 1em;
      justify-self: center;
      background: const.$paper-bg;
      font: var(--body-font);
      text-wrap: pretty;
    }

    .toggle button {
      height: 8rem;
      margin-top: 1.5rem;
    }
  }

  &[content='preferences-prompt'] {

    height: fit-content;
    width: 100%;
    background: var(--modal-background);

    button {
      @include const.rounded-sm;
      width: fit-content;
      padding: 1rem 1.5rem;
      justify-self: center;
      background: var(--button-background);
      font: const.$ui-secondary-font;
      cursor: pointer;
    }

    h2 {
      width: 100%;
      padding: 1em;
      color: var(--text-on-modal);
      text-align: center;
      font: 400 1.25em const.$ui-primary-font;
    }

    p {
      width: 100%;
      padding: 1em;
      text-align: center;
      font: const.$ui-primary-font;
    }

    svg {
      height: 1.5rem;
      transform: translateY(0.35rem);
      padding: 0.25rem;
      margin-inline: 0.25rem;
      background: var(--modal-highlight-background);
      fill: var(--text-on-modal-highlight);
      border-radius: 0.25rem;
    }
  }

  &[content='info'] {
    font: const.$ui-primary-font;

    h2 {
      padding-bottom: 0.5em;
      color: var(--text-on-modal);
      text-align: center;
      font: 400 2em const.$ui-primary-font;
    }

    p {
      padding: 0.5rem;
    }

    .acknowledgements {
      display: grid;
      gap: 1rem;
      padding: 1rem;
    }
  }

  &[content='about'] {
    font-family: const.$ui-primary-font;
    line-height: 1.5em;

    h2 {
      padding-bottom: 0.5em;
      color: var(--text-on-modal);
      text-align: center;
      font: 400 2em const.$ui-primary-font;
    }

    p {
      padding: 1rem 0;
    }

    svg {
      height: 0.8rem;
      padding-right: 0.25em;
      fill: var(--text-on-modal);
    }

    .em-block {
      color: var(--text-on-modal);
      font-size: 2em;
      font-weight: 300;
      line-height: 1.25em;
    }

    .inline-logo {
      background-color: var(--modal-highlight-background);
      color: var(--logo-text);
      font: const.$heading-font;
    }

    .key {
      background-color: var(--modal-highlight-background);
      color: var(--text-on-modal-highlight);
      font: const.$ui-secondary-font;
      border: 3px solid var(--modal-highlight-detail);
    }
  }
}