@use '../layout' as layout;
@use '../assets' as asset;
@use '../fonts' as font;

psalm-card {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
        "psalm_title"
        "psalm_content";

  @media (min-width: layout.$md) {
    width: 576px;
    margin-inline: auto;
  }

  .title-box {

    height: layout.$condensed-title-height;

    @media (min-width: layout.$md) {
      position: relative;
    }

    .office-psalms & {
      grid-area: psalm_title;
      min-height: 8.5rem;
      z-index: 1;

      h1 {
        font-size: 1.75em;
        line-height: 1.1em;
        font-weight: 500;
      }
    }
  }

  nav.multi {
    grid-area: psalm_content;
    background: var(--nav-multi);
    color: var(--on-nav-multi);
  }

  /* TODO necessary with overlap?
  &:has(nav.multi)::before {
    display: block;
    grid-area: psalm_content;
    height: 2rem;
    position: sticky;
    background: var(--nav-multi);
    content: '';
    top: 2.25rem;
  }
  */

  .psalm-box {
    @include layout.rounded;
    z-index: 4;
    grid-area: psalm_content;
    min-height: 50vh;
    padding: 3rem 1.75rem 3rem 1.25rem;
    background: var(--text-surface);
    color: var(--on-text-surface);
    will-change: transform;
    @include layout.overlap-top;
  }
}

.refrain {
  &.top {
    padding-bottom: 1em;

    .refrain.bottom + & {
      padding-top: 2rem;

      &::before {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
        content: '***';
        font: font.$primary-heading;
        color: var(--rubric);
      }
    }
  }

  &.bottom {
    padding-top: 1em;
  }

  .rubric {
    color: var(--rubric);
    text-align: center;
    font: 500 0.8em var(--sentient);
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .refrain-text {
    padding: 0.5rem 0;
    color: var(--rubric);
    text-align: center;
    font: italic 400 1.1em "Sentient";
    line-height: 1.25em;
    text-wrap: balance;
  }
}

.psalm-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  line-height: 1.5em;

  &:not(:has(*)) {
    min-height: 75vh;
  }

  h2 {
    color: var(--rubric);
    //text-align: center;
    font: font.$secondary-heading;
    font-size: 1.2em;
    padding-left: 2.75em;
    padding-bottom: .25rem;

    &:not(:first-of-type) {
      padding-top: 1rem;
    }
  }

  .verse {
    display: grid;
    grid-template-columns: 2em 1fr;
    gap: 1rem;

    .vn {
      color: var(--rubric);
      text-align: right;
      align-items: start;
    }

    .vs {
      min-width: 14ch;
      max-width: fit-content;
      padding-left: 1.5em;
      color: var(--on-text-surface);
      text-wrap: pretty;
      align-items: start;


      .vi-1 {
        text-indent: -1.5em;
      }

      .vi-2 {
        text-indent: -1em;
      }

      .vi-3 {
        text-indent: -0.5em;
      }

      .marker {
        position: relative;
        bottom: 0.05em;
        opacity: 75%;
        color: var(--rubric);
      }
    }
  }
}

.def-up, .def-low, .voc {
  //vertical-align: 0.05em;
  font: 500 1.05em 'Bellefair', 'Sentient', serif;
  font-variant: all-small-caps;
  line-height: 1em;
}

.tetra-latin {
  font: 500 1.05em 'Sentient', serif;
  font-variant: all-small-caps;
  line-height: 1em;
}

.tetra-hebrew {
  font: 400 1.2em 'Bellefair', serif !important;
  vertical-align: text-bottom;
  line-height: 0.9em;
}

h3 {
  .def-up, .def-low, .voc {
    font: italic 500 0.95em 'Bellefair', 'Sentient', serif;
    font-variant: all-small-caps;
    line-height: 1em;
  }
}

.pn-caps-enabled {
  .pn-sub-up,
  .pn-sub-low,
  .pn-ob-low,
  .pn-pl-up,
  .pn-pl-low,
  .pos {
    font: 450 1em 'Sentient', serif;
    font-variant: all-small-caps;
  }

  h3 {
    .pn-sub-up,
    .pn-sub-low,
    .pn-ob-low,
    .pn-pl-up,
    .pn-pl-low,
    .pos {
      font: 450 1em 'Sentient', serif;
      font-variant: all-small-caps;
    }
  }
}

