@use 'layout' as layout;
@use 'assets' as asset;
@use 'fonts' as font;

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition-duration: 0.01ms !important;
  }
}

html {
  box-sizing: border-box;
  overscroll-behavior: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p, h1, h2, h3 {
  margin: 0;
}

h1 {
  font: font.$primary-heading;
}

h2 {
  font: font.$secondary-heading;
}

button, .button {
  @include layout.rounded-sm;
  padding: 1.6rem 2rem;
  margin: 0 0.5rem;
  background: var(--transparent-button);
  color: var(--on-transparent-button);
  font: font.$ui-label;
  font-weight: 400;
  justify-self: center;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  text-align: center;

  &.active {
    font-weight: 600;
    background: var(--transparent-button-active);
    border: 2px solid var(--transparent-button-detail);
  }
}

a.button {
  text-decoration: none;
}

.icon {
  display: inline-flex;

  &.arrow-double-right {
    @include asset.icon('arrow-double-right', 1.75em, var(--n00));
  }
  &.arrow-double-left {
    @include asset.icon('arrow-double-left', 1.75em, var(--dark-dark));
  }
  &.arrow-to-top {
    @include asset.icon('arrow-to-top', 1em, var(--dark-dark));
  }
  &.arrow-up {
    @include asset.icon('arrow-up', 1em, var(--dark-dark));
  }
  &.arrow-down {
    @include asset.icon('arrow-down', 1em, var(--dark-dark));
  }
  &.arrow-left {
    @include asset.icon('arrow-left', 1em, var(--dark-dark));
  }
  &.arrow-right {
    @include asset.icon('arrow-right', 1em, var(--dark-dark));
  }
  &.close {
    @include asset.icon('close', 1.75em, var(--light-light));
  }
  &.about-icon {
    @include asset.icon('about', 1em, var(--light-light));
  }
  &.settings-icon {
    @include asset.icon('settings', 1em, var(--light-light));
  }
  &.preferences-icon {
    @include asset.icon('preferences', 1em, var(--light-light));
  }
  &.logo {
    @include asset.icon('logo', 1.5em, var(--logo-light));
  }
}

body {
  margin: 0;
  justify-content: center;
  background: var(--background);
  font: var(--body-font);
  overscroll-behavior: none;

  &:has(.modal[open]) {
    overflow-y: hidden;
  }

  @media (min-width: layout.$md) {
    &:has(office-container[office='morning']) {
      background: asset.$morning-background;
    }
    &:has(office-container[office='evening']) {
      background: asset.$evening-background;
    }
    &:has(.psalter) {
      @include asset.background('paper', soft-light, var(--title-card));
    }

  }

  &.loading:has(.psalter, .lectionary) {
    nav,
    main,
    footer {
      visibility: hidden;
    }
  }
}

header {
  display: flex;
  place-content: center;
  padding: 0 1.5rem;

  @media (min-width: layout.$lg) {
    padding-top: 1rem;
  }
}

main {
  margin: auto;
}

body:has(.lectionary, .psalter) footer {
  text-align: center;
  font-weight: 300;
  padding: 0 2rem 1rem;
  color: var(--on-nav-bar);
  margin-inline: auto;

  a {
    color: var(--link-on-nav-bar);
    text-decoration: none;
  }

  p {
    margin: 1rem auto 0.5rem;
    max-width: 675px;
  }

  .logo-1, .logo-2 {
    color: var(--link-on-nav-bar);
  }

  body:has(.lectionary) & {
    padding-top: .5rem;
  }

  @media (min-width: layout.$md) {
    font-size: 0.95em;
    margin-top: 2rem;
  }

  @media (min-width: layout.$lg) {
    padding: 0 2rem 1rem;
    background-color: transparent;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
/*
.logo-1 {
  color: var(--off-black);
}

.logo-2 {
  color: var(--off-black);
}
*/
.inline-logo {
  font: font.$primary-heading;

  &.flow {
    font-weight: 500;
  }
}

.preferences {
  .top {
    fill: var(--dark-dark); // TODO change me
  }
  .mid {
    fill: var(--dark-dark); // TODO change me
  }
  .bottom {
    fill: var(--dark-dark); // TODO change me
  }
}

.title-box {

  @include layout.rounded-top;
  display: flex;
  flex-direction: column;
  position: sticky;
  place-content: center;
  top: 0;
  padding: 0 0 2.25rem;
  width: 100%;
  font: font.$primary-heading;
  text-align: center;
  @include asset.background('paper', soft-light, var(--psalm-card));
  color: var(--on-psalm-card);

  .psalter &, .lectionary office-container > & {

    height: layout.$full-title-height;
    justify-content: space-between;

    @media (min-width: layout.$md) {
      height: layout.$condensed-title-height;
      background: none;
      min-height: 20rem;

      &::after {
        content: '';
      }
    }

    &::before {
      display: block;
      height: layout.$title-box-button-spacer;
      width: 100%;
      content: '';
    }

    h1 {
      font-size: 2.5em;
      font-weight: 600;
      line-height: 1.5em;
    }
  }

  .buttons {
    z-index: 2;
    display: flex;
    width: 100%;
    max-width: 520px;
    height: layout.$title-box-button-spacer;
    padding-right: 1rem;
    justify-content: end;
    position: relative;
    bottom: 1.5rem;

    .preferences {
      display: flex;
      width: 3.15rem;
      cursor: pointer;
      background: var(--transparent-button);
      border-radius: 2rem;

      svg {
        margin: auto;
      }
    }

    @media (min-width: layout.$md) {
      position: absolute;
      max-width: 100%;
      top: 2rem;
      padding-right: 6.5rem;
    }

    @media (min-width: layout.$lg) {
      top: -3.5rem;
    }
  }
}

@media (min-width: layout.$lg) {
  .title-box {
    position: relative !important;
  }
}