/* FONTS */
@font-face {
  font-family: "Alegreya";
  font-weight: 400 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSC-Regular.woff2), url(../../assets/fonts/AlegreyaSC-Medium.woff2);
  font-variant: small-caps;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400 500;
  font-display: block;
  src: url(../../assets/fonts/Alegreya-Regular.woff2), url(../../assets/fonts/Alegreya-Medium.woff2);
  font-variant: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSC-Italic.woff2), url(../../assets/fonts/AlegreyaSC-MediumItalic.woff2);
  font-variant: small-caps;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400 500;
  font-display: block;
  src: url(../../assets/fonts/Alegreya-Italic.woff2), url(../../assets/fonts/Alegreya-MediumItalic.woff2);
  font-variant: normal;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSansSC-Light.woff2), url(../../assets/fonts/AlegreyaSansSC-Regular.woff2), url(../../assets/fonts/AlegreyaSansSC-Medium.woff2);
  font-variant: small-caps;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSans-Light.woff2), url(../../assets/fonts/AlegreyaSans-Regular.woff2), url(../../assets/fonts/AlegreyaSans-Medium.woff2);
  font-variant: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSansSC-LightItalic.woff2), url(../../assets/fonts/AlegreyaSansSC-Italic.woff2), url(../../assets/fonts/AlegreyaSansSC-MediumItalic.woff2);
  font-variant: small-caps;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSans-LightItalic.woff2), url(../../assets/fonts/AlegreyaSans-Italic.woff2), url(../../assets/fonts/AlegreyaSans-MediumItalic.woff2);
  font-variant: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lexend Deca";
  font-weight: 200 400;
  font-display: block;
  src: url(../../assets/fonts/LexendDeca-ExtraLight.woff2), url(../../assets/fonts/LexendDeca-Light.woff2), url(../../assets/fonts/LexendDeca-Regular.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Lexend Giga";
  font-weight: 200 400;
  font-display: block;
  src: url(../../assets/fonts/LexendGiga-ExtraLight.woff2), url(../../assets/fonts/LexendGiga-Light.woff2), url(../../assets/fonts/LexendGiga-Regular.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Bitter";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/Bitter-Light.woff2), url(../../assets/fonts/Bitter-Regular.woff2), url(../../assets/fonts/Bitter-Medium.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Bitter";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/Bitter-LightItalic.woff2), url(../../assets/fonts/Bitter-Italic.woff2), url(../../assets/fonts/Bitter-MediumItalic.woff2);
  font-style: italic;
}
@font-face {
  font-family: "Bellefair";
  font-weight: 400;
  font-display: block;
  src: url(../../assets/fonts/Bellefair-Regular.woff2);
  unicode-range: U+590-5FF, U+FB1D-FB4F;
  font-style: normal;
}
:root {
  --lexend: "Lexend Deca", sans-serif;
  --lexend-wide: "Lexend Giga", sans-serif;
  --bitter: "Bitter", serif;
  --body-font-face: var(--lexend);
  --body-font-size: 1.2rem;
  --body-font: 400 var(--body-font-size) var(--body-font-face);
}

/* COLOURS */
:root {
  --purple: #ad5996;
  --purple-soft: #c68bb6;
  --purple-dark: #3a2133;
  --purple-translucent: rgba(198, 139, 182, 0.5);
  --coral: #cf5454;
  --coral-soft: #dd8787;
  --coral-dark: #4a1c1c;
  --coral-translucent: rgba(221, 135, 135, 0.5);
  --teal: #3f9ea8;
  --teal-soft: #71c1ca;
  --teal-dark: #1a3437;
  --teal-translucent: rgba(113, 193, 202, 0.5);
  --bright: #F9F6F4;
  --pale: #F0EAE7;
  --mid-dark: #6b6466;
  --dark: #222222;
  --pale-transparent: #F0EAE73F;
  --pale-translucent: #F0EAE780;
  --dark-transparent: #22222280;
  --page-bg: var(--dark);
  --body-text: var(--dark);
  --body-bg: var(--pale);
  --color-primary-main: var(--purple);
  --color-primary-soft: var(--purple-soft);
  --color-primary-dark: var(--purple-dark);
  --color-primary-translucent: var(--purple-translucent);
  --color-secondary-main: var(--coral);
  --color-secondary-soft: var(--coral-soft);
  --color-secondary-dark: var(--coral-dark);
  --color-secondary-translucent: var(--coral-translucent);
  --color-tertiary-main: var(--teal);
  --color-tertiary-soft: var(--teal-soft);
  --color-tertiary-dark: var(--teal-dark);
  --color-tertiary-translucent: var(--teal-translucent);
}

/* ASSETS */
/* LAYOUT */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition-duration: 0.01ms !important;
  }
}
html {
  box-sizing: border-box;
  overscroll-behavior: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p, h1, h2, h3 {
  margin: 0;
}

a.button {
  border-radius: 1rem;
  border-width: 0;
  height: fit-content;
  width: 100%;
  padding: 1rem;
  background: var(--pale-transparent);
  color: var(--dark);
  font: italic 500 1em "Alegreya Sans", sans-serif;
  text-decoration: none;
  text-align: center;
}

body {
  margin: 0;
  justify-content: center;
  background: var(--page-bg);
  font: var(--body-font);
  overscroll-behavior: none;
}
body:has(modal-overlay[open]) {
  overflow-y: hidden;
}
@media (min-width: 577px) {
  body {
    background: var(--color-primary-main);
  }
}
body.loading header, body.loading main,
body.loading footer {
  visibility: hidden;
}

header {
  display: flex;
  place-content: center;
  padding: 0 1.5rem;
  background: var(--dark);
}
@media (min-width: 769px) {
  header {
    background: var(--color-primary-main);
    margin-top: 1rem;
  }
}

main {
  margin: auto;
}

footer {
  background: var(--dark);
  text-align: center;
  font: italic 500 1em "Alegreya Sans", sans-serif;
  font-weight: 300;
  padding: 0 2rem 1rem;
  color: var(--pale-translucent);
  margin-inline: auto;
}
footer a {
  color: var(--pale);
  text-decoration: none;
}
footer p {
  margin: 1rem auto 0.5rem;
  max-width: 675px;
}
footer .logo-1, footer .logo-2 {
  color: var(--pale-translucent);
}
body:has(.lectionary) footer {
  padding-top: 0.5rem;
}
@media (min-width: 577px) {
  footer {
    font-size: 0.95em;
    margin-top: 2rem;
  }
}
@media (min-width: 769px) {
  footer {
    padding: 0 2rem 1rem;
    background-color: transparent;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.logo-1 {
  color: var(--color-primary-soft);
}

.logo-2 {
  color: var(--color-primary-main);
}

.inline-logo {
  font: italic 500 1em "Alegreya", serif;
}
.inline-logo.flow {
  font: italic 500 1em "Alegreya Sans", sans-serif;
}

.preferences .top {
  fill: var(--color-tertiary-main);
}
.preferences .mid {
  fill: var(--color-secondary-main);
}
.preferences .bottom {
  fill: var(--color-primary-main);
}

.title-box .buttons {
  z-index: 2;
  display: flex;
  width: 100%;
  max-width: 520px;
  height: 3.15rem;
  padding-right: 1rem;
  justify-content: end;
  position: relative;
  bottom: 1.5rem;
}
.title-box .buttons .preferences {
  display: flex;
  width: 3.15rem;
  cursor: pointer;
  background: var(--pale-translucent);
  border-radius: 2rem;
}
.title-box .buttons .preferences svg {
  margin: auto;
}
@media (min-width: 577px) {
  .title-box .buttons {
    position: absolute;
    max-width: 100%;
    top: 2rem;
    padding-right: 6.5rem;
  }
}
@media (min-width: 769px) {
  .title-box .buttons {
    top: -3.5rem;
  }
}

.title-box:not(.office-psalms .title-box) {
  border-top-left-radius: 2.25rem;
  border-top-right-radius: 2.25rem;
  border-width: 0;
  display: flex;
  flex-direction: column;
  height: 60vh;
  position: sticky;
  top: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary-main);
}
.psalter .title-box:not(.office-psalms .title-box) {
  grid-area: psalm_title;
}
@media (min-width: 577px) {
  .psalter .title-box:not(.office-psalms .title-box) {
    height: 25vh !important;
    position: relative;
  }
  :has(nav.multi) .psalter .title-box:not(.office-psalms .title-box) {
    height: calc(25vh + 3.75rem) !important;
    min-height: 15.75rem;
  }
}
.lectionary .title-box:not(.office-psalms .title-box) {
  grid-area: office_title;
}
@media (min-width: 577px) {
  .title-box:not(.office-psalms .title-box)::after {
    content: "";
  }
}
.title-box:not(.office-psalms .title-box)::before {
  display: block;
  height: 3.15rem;
  width: 100%;
  content: "";
}
.title-box:not(.office-psalms .title-box) h1 {
  position: relative;
  top: 0;
  color: var(--bright);
  font: italic 500 1em "Alegreya", serif;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
}
.title-box:not(.office-psalms .title-box) h2 {
  color: var(--pale-translucent);
  font: italic 500 1em "Alegreya", serif;
  font-size: 2em;
  text-align: center;
}

@media (min-width: 577px) {
  :not(.office-psalms) .title-box {
    height: 25vh;
    min-height: 12rem;
  }
}
@media (min-width: 769px) {
  .title-box {
    position: relative !important;
  }
}
body:has(.index) {
  background: url(../../assets/img/paper.png) repeat var(--pale);
}
body:has(.index) header {
  justify-content: space-between;
  background: transparent;
}
@media (min-width: 1025px) {
  body:has(.index) header {
    width: clamp(1024px, 80%, 1136px);
    margin-inline: auto;
  }
}
body:has(.index) header h1 {
  font: italic 500 1em "Alegreya", serif;
  padding: 1rem 0;
  font-size: clamp(1.5em, 8.5vw, 2.25em);
}
body:has(.index) header h1 svg {
  padding-left: 0.5rem;
  transform: translateY(0.25rem);
}
body:has(.index) header h1 .book-line {
  stroke: var(--color-primary-main);
  filter: brightness(90%);
}
body:has(.index) header h1 .book-left {
  fill: var(--color-primary-soft);
}
body:has(.index) header h1 .book-right {
  fill: var(--color-primary-main);
}
body:has(.index) header .buttons {
  display: flex;
  gap: 1rem;
  align-self: center;
}
body:has(.index) header .buttons * {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
body:has(.index) header .buttons .info svg {
  fill: var(--dark-transparent);
}

.index {
  display: grid;
  gap: 1rem;
  width: clamp(375px, 90vw, 625px);
}
@media (min-width: 769px) {
  .index {
    grid-template-columns: 40% auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "beta welcome" "beta office_nav" "psalm_nav psalm_nav";
    gap: 2rem;
    padding: 4rem 3rem;
  }
}
@media (min-width: 1025px) {
  .index {
    width: 1024px;
    margin-inline: auto;
  }
}
.index button {
  border-radius: 1rem;
  border-width: 0;
  height: fit-content;
  padding: 1.25rem 0.5rem;
  color: var(--pale);
}
.index h2 {
  padding: 1rem;
  font-size: 1em;
  color: var(--dark);
}
.index section:not(.modal) {
  display: grid;
  grid-template-rows: auto 1fr;
  font: 500 1em "Alegreya Sans", sans-serif;
  color: var(--pale);
}
.index .beta {
  border-radius: 1rem;
  border-width: 0;
  background: var(--color-tertiary-main);
  padding: 2rem;
  margin: 1rem 2rem;
  text-align: center;
}
@media (min-width: 769px) {
  .index .beta {
    grid-area: beta;
    margin: 0;
  }
}
.index .beta a {
  font-weight: 600;
  color: var(--bright);
  width: fit-content;
  padding-inline: 2rem;
  place-self: center;
}
.index .beta h3, .index .beta p {
  padding-bottom: 1rem;
}
.index .expand-block .text {
  font-size: 1.2em;
}
.index .expand-block .arrow {
  filter: invert(100%);
  opacity: 50%;
}
.index .select {
  display: grid;
  gap: 1rem;
  padding-inline: 1.5rem;
  height: fit-content;
}
@media (min-width: 769px) {
  .index .select {
    padding-inline: 0;
  }
}
@media (min-width: 769px) {
  .index .office-nav {
    grid-area: office_nav;
  }
}

.index .office-nav button {
  padding: 2.25rem 0.5rem;
  font: italic 500 1em "Alegreya", serif;
  font-size: 2rem;
  pointer-events: none; /* Remove to enable */
  opacity: 0.5; /* Remove to enable */
}

.index .office-nav button.morning { /* Remove to enable */
  background: var(--mid-dark);
}

.index .office-nav button.evening { /* Remove to enable */
  background: var(--dark);
}

/* Uncomment to enable */
/* cursor: pointer;

.index .office-nav button.morning {
  background: var(--color-tertiary-soft);
}
.index .office-nav button.evening {
  background: var(--color-tertiary-main);
}
*/

.index .office-nav h2 .soon { /* Remove to enable */
  padding-right: 0.75rem;
  font: italic 500 1em "Alegreya Sans", sans-serif;
}

.index .office-nav .select {
  grid-template-columns: 47% 47%;
  place-content: center;
}
.index .psalm-nav .search {
  display: none;
}
@media (min-width: 769px) {
  .index .psalm-nav .search {
    display: grid;
    font: 200 1em 500 1em "Alegreya Sans", sans-serif;
  }
  .index .psalm-nav .search form {
    border-radius: 1rem;
    border-width: 0;
    display: flex;
    gap: 0.5rem;
    height: fit-content;
    padding: 1rem;
    place-content: center;
    background: var(--color-primary-main);
    color: var(--pale);
    /* Chrome, Safari, Edge, Opera */
    /* Firefox */
  }
  .index .psalm-nav .search form label {
    height: fit-content;
    align-self: center;
    font-size: 1.5rem;
  }
  .index .psalm-nav .search form input, .index .psalm-nav .search form button {
    border-radius: 0.5rem;
    border-width: 0;
    height: 3.25rem;
    width: 4.5rem;
    padding: 0.5rem;
    font-weight: 400;
    outline: 0;
  }
  .index .psalm-nav .search form input {
    align-self: center;
    background: var(--pale-translucent);
    text-align: center;
    font: 1.5rem 500 1em "Alegreya Sans", sans-serif;
    color: var(--dark);
    outline: 0;
    border-width: 0;
    margin-right: 2rem;
  }
  .index .psalm-nav .search form input::-webkit-outer-spin-button,
  .index .psalm-nav .search form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .index .psalm-nav .search form input[type=number] {
    -moz-appearance: textfield;
  }
  .index .psalm-nav .search form button {
    background: var(--pale-transparent);
    font: italic 500 1em "Alegreya Sans", sans-serif;
    font-size: 1.25rem;
    color: var(--pale-translucent);
    opacity: 0.5;
  }
  .index .psalm-nav .search form button.active {
    opacity: 1;
    color: var(--dark);
    cursor: pointer;
  }
}
@media (min-width: 769px) {
  .index .psalm-nav {
    grid-area: psalm_nav;
  }
  .index .psalm-nav .select {
    display: none;
  }
}
.index .psalm-nav .select .content {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  column-gap: 1rem;
  row-gap: 1.5rem;
  margin-top: 1.5rem;
  place-content: center;
}
.index .psalm-nav .select .content .psalm-button {
  border-radius: 0.5rem;
  border-width: 0;
  background: var(--pale-transparent);
  font: 1.1em "Alegreya Sans", sans-serif;
  color: var(--bright);
  padding: 0.5rem;
}
@media (min-width: 769px) {
  .index .welcome {
    grid-area: welcome;
  }
}
.index .welcome button {
  font: 500 1em "Alegreya Sans", sans-serif;
  background: var(--color-secondary-main);
  cursor: pointer;
}
.index .welcome button svg {
  position: relative;
  top: 0.15em;
  padding-left: 0.25rem;
}

.index + footer {
  display: grid;
  padding: 2rem 2rem 1rem;
  color: var(--mid-dark);
  background-color: transparent;
  font: italic 500 1em "Alegreya Sans", sans-serif;
}
@media (min-width: 1025px) {
  .index + footer {
    width: clamp(1024px, 90%, 1260px);
    margin-inline: auto;
  }
}
.index + footer a {
  color: var(--color-secondary-main);
  text-decoration: none;
}
.index + footer .logo-1 {
  color: var(--color-primary-soft);
}
.index + footer .logo-2 {
  color: var(--color-primary-main);
}

.lectionary::after {
  position: relative;
  bottom: 0;
  height: 3rem;
  align-self: end;
  background: var(--dark);
  content: "";
}
@media (min-width: 577px) {
  .lectionary::after {
    display: none;
  }
}

office-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "office_title" "office_content";
  /*
    &:not(psalm-card) .title-box {
      @include const.rounded-top;
      z-index: 0;
      grid-area: office_title;
      display: flex;
      flex-direction: column;
      height: const.$full-title-height;
      position: sticky;
      top: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      background: var(--color-primary-main);

      :has(nav.multi) & {
        height: 75vh !important;
      }

      h1 {
        position: relative;
        top: 0;
        color: var(--bright);
        font: const.$heading-font;
        font-size: 3em;
        font-weight: 300;
        line-height: 1.5em;
        text-align: center;
      }

      h2 {
        color: var(--pale-translucent);
        font: 300 2em const.$ui-secondary-family;
        line-height: 1.1em;
        text-align: center;
      }
    }
  */
}
office-container::before {
  display: grid;
  grid-area: office_content;
  height: 2rem;
  width: 100%;
  position: sticky;
  background: var(--color-primary-main);
  content: "";
  top: 2.25rem;
}
office-container .title {
  display: flex;
  grid-area: office_title;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
office-container nav.multi {
  grid-area: office_content;
  z-index: 1;
  padding-bottom: 4.5rem !important;
  will-change: transform;
  transition: all 500ms ease;
}
office-container nav.multi .drop.vertical {
  font: 500 1em "Alegreya Sans", sans-serif;
  display: grid;
  gap: 2rem;
}
office-container nav.multi div:not(:has(.options)) .day {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border-width: 0;
  border: 2px solid var(--pale-transparent);
  cursor: pointer;
}
office-container nav.multi div[active]:not(:has(.options)) .day {
  background-color: var(--color-secondary-translucent) !important;
  border-color: var(--pale) !important;
}
office-container nav.multi .day {
  margin: 0.5rem auto 0.5rem;
  text-align: center;
  width: fit-content;
  font-size: 1.25em;
  line-height: 1.75em;
  color: var(--bright);
}
office-container nav.multi .options {
  margin-top: 0.5rem;
}
office-container nav.multi .options * {
  padding: 0.5rem 1rem;
  margin-inline: 0.25rem;
  border-radius: 1rem;
  border-width: 0;
  border: 2px solid var(--pale-transparent);
  cursor: pointer;
}
office-container nav.multi .options *[active] {
  background-color: var(--color-secondary-translucent) !important;
  border-color: var(--pale) !important;
}
office-container .office-psalms {
  grid-area: office_content;
  display: grid;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  pointer-events: none;
}
:has(nav.multi) office-container .office-psalms {
  position: relative;
  top: 3.5rem;
  margin-bottom: 3.5rem;
}
office-container .office-psalms psalm-card {
  display: grid;
}
office-container .office-psalms psalm-card::before {
  background: var(--color-secondary-soft);
}
office-container .office-psalms psalm-card:not(:first-of-type)::after {
  display: block;
  grid-area: psalm_title;
  height: 2.25rem;
  position: sticky;
  background: url(../../assets/img/paper.png) repeat var(--pale);
  content: "";
  top: 0;
}
@media (min-width: 577px) {
  office-container .office-psalms psalm-card:not(:first-of-type)::after {
    position: relative;
    background: var(--color-primary-main);
    top: -4.25rem;
    height: 4.25rem;
    z-index: 1;
  }
}
office-container .office-psalms psalm-card .title-box {
  border-top-left-radius: 2.25rem;
  border-top-right-radius: 2.25rem;
  border-width: 0;
  grid-area: psalm_title;
  display: flex;
  flex-direction: column;
  height: 10vh;
  min-height: 8.5rem;
  position: sticky;
  top: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary-soft);
  z-index: 1;
}
office-container .office-psalms psalm-card .title-box h1 {
  color: var(--pale);
  font: italic 500 1em "Alegreya", serif;
  font-size: 2em;
  line-height: 1.1em;
  text-align: center;
}
office-container .office-psalms psalm-card:not(:last-of-type) .psalm-box {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 577px) {
  office-container .office-psalms psalm-card:not(:last-of-type) .psalm-box {
    border-bottom-left-radius: 2.25rem;
    border-bottom-right-radius: 2.25rem;
    border-width: 0;
    margin-bottom: 2rem;
  }
}
psalm-card:has(nav.multi) .psalm-box {
  top: 3.75rem;
  margin-bottom: 7.5rem;
  will-change: transform;
  transition: top 500ms ease;
}
psalm-card:has(nav.multi:last-child[expanded]) .psalm-box {
  top: 1.75rem;
  margin-bottom: 7.5rem;
}

.expand .title {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "exp_spacer exp_text exp_arrow";
  gap: 1ch;
  place-content: center;
  cursor: pointer;
}
.expand .title::before {
  grid-area: exp_spacer;
  width: 1rem;
  height: 1rem;
  content: "";
}
.expand .arrow {
  grid-area: exp_arrow;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  align-self: center;
  will-change: transform;
  cursor: pointer;
}

.expand-block {
  border-radius: 1rem;
  border-width: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas: "exp_block_title" "exp_block_drop";
  height: 4rem;
  padding: 1rem 1rem 2rem;
  justify-content: center;
  overflow-y: hidden;
  background: var(--color-primary-main);
  color: var(--pale);
  font: 200 1em 500 1em "Alegreya Sans", sans-serif;
}
.expand-block[expanded] {
  height: 100%;
}
.expand-block[expanded] .arrow {
  transform: rotate(180deg) !important;
}
.expand-block .title {
  grid-area: exp_block_title;
}
.expand-block .arrow {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" /></svg>');
  transition: all 500ms ease;
}
.expand-block .content {
  grid-area: exp_block_drop;
}

.expand-menu:not(:last-child) .arrow {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M9.47 6.47a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 8.06l-3.72 3.72a.75.75 0 0 1-1.06-1.06l4.25-4.25Z" clip-rule="evenodd" /></svg>');
}
.expand-menu:not(:last-child)[expanded] .arrow {
  transform: rotate(180deg) !important;
}
.expand-menu:last-child .arrow {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" /></svg>');
}
.expand-menu:last-child[expanded] .arrow {
  transform: rotate(0deg) !important;
}
.expand-menu[expanded] .arrow {
  opacity: 0;
}

nav.main {
  display: flex;
  flex-direction: row;
  height: 1.5em;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0.5em;
  background: var(--dark);
  color: var(--pale);
  pointer-events: none;
}
body:has(.psalter) nav.main {
  width: 100%;
}
nav.main svg {
  cursor: pointer;
  pointer-events: auto;
}
nav.main .book-line {
  stroke: var(--pale);
}
nav.main .book-left {
  fill: var(--color-secondary-soft);
}
nav.main .book-right {
  fill: var(--color-secondary-main);
}
nav.main .to-top {
  display: inline;
}
nav.main .to-top.hidden {
  display: none;
}

@media (min-width: 769px) {
  nav.main {
    margin-inline: auto;
    background: none;
    width: 250px;
    z-index: 3;
  }
  body:has(.lectionary) nav.main {
    width: fit-content;
  }
  footer nav.main .left, footer nav.main .right {
    opacity: 0;
    pointer-events: none;
  }
}
nav.multi {
  z-index: 1;
  display: grid;
  gap: 0.5rem;
  position: sticky;
  justify-content: center;
  align-self: end;
  background: var(--color-primary-soft);
  color: var(--pale);
  font: italic 500 1em "Alegreya Sans", sans-serif;
}
@media (min-width: 577px) {
  nav.multi {
    width: 520px;
    justify-self: center;
  }
}
nav.multi:not(:last-child) {
  border-top-left-radius: 2.25rem;
  border-top-right-radius: 2.25rem;
  border-width: 0;
  grid-template-rows: auto auto;
  grid-template-areas: "multi_nav_menu_title" "multi_nav_menu_drop";
  position: sticky;
  top: 0;
  padding: 0.75rem 1rem 3rem;
  align-self: start;
  align-content: start;
  will-change: transform;
  transition: top 500ms ease;
}
nav.multi:not(:last-child)[expanded] {
  top: -5.75rem;
}
nav.multi:last-child {
  border-bottom-left-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
  border-width: 0;
  z-index: 0;
  grid-template-rows: auto auto;
  grid-template-areas: "multi_nav_menu_drop" "multi_nav_menu_title";
  position: relative;
  bottom: 0;
  padding: 2.5rem 1rem 1rem;
  align-content: end;
}
nav.multi:last-child[expanded] {
  padding-top: 3rem !important;
}
nav.multi .title {
  grid-area: multi_nav_menu_title;
  display: grid;
}
nav.multi .spacer {
  grid-area: exp_spacer;
  width: 20px;
}
nav.multi .text {
  grid-area: exp_text;
  opacity: 0.8;
  font-size: 1.5em;
}
nav.multi .arrow {
  filter: invert(100%);
  opacity: 50%;
}
nav.multi .drop {
  grid-area: multi_nav_menu_drop;
}
nav.multi .drop.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  place-content: start;
  justify-items: right;
  opacity: 60%;
  font: italic 500 1em "Alegreya Sans", sans-serif;
  padding-inline: 50%;
  scroll-snap-type: x mandatory;
  /*
        container-name: horizontal_menu;
        container-type: inline-size;
  */
}
nav.multi .drop.horizontal::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}
nav.multi .drop.horizontal * {
  flex-grow: 0;
  flex-basis: 5rem;
  padding: 0 0.5rem;
  text-align: center;
  cursor: pointer;
  scroll-snap-align: center;
}
nav.multi .drop.vertical {
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
}
nav.multi .drop .active {
  color: var(--dark);
  opacity: 50%;
}
nav.multi:has(.horizontal)::before {
  z-index: 1;
  grid-area: multi_nav_menu_drop;
  display: inline;
  width: 5rem;
  justify-self: start;
  background: linear-gradient(to right, var(--color-primary-soft), var(--color-primary-translucent));
  pointer-events: none;
  content: "";
}
nav.multi:has(.horizontal)::after {
  z-index: 1;
  grid-area: multi_nav_menu_drop;
  display: inline;
  width: 5rem;
  justify-self: end;
  background: linear-gradient(to left, var(--color-primary-soft), var(--color-primary-translucent));
  pointer-events: none;
  content: "";
}

.modal {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  pointer-events: none;
  overflow-y: scroll;
  scrollbar-width: none;
  z-index: 10;
}
.modal::-webkit-scrollbar { /* Chrome, Safari, Opera */
  display: none;
}
.modal::before {
  position: fixed;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: var(--dark);
  will-change: transform;
  transition: opacity 500ms ease;
  content: "";
}
.modal[open] {
  pointer-events: auto;
}
.modal[open]::before {
  opacity: 0.9;
  pointer-events: none;
}
.modal[close-top]::before {
  opacity: 0;
}

modal-card {
  border-radius: 2.25rem;
  border-width: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "modal_header" "modal_content" "modal_footer";
  position: relative;
  bottom: -100vh;
  padding: 1.5rem 2.5rem 2.5rem;
  margin: 20vh 0 10vh;
  background: var(--color-secondary-soft);
  font: 1em 500 1em "Alegreya Sans", sans-serif;
  color: var(--bright);
  will-change: transform;
  transition: bottom 500ms ease;
}
[open] modal-card {
  bottom: 0;
}
[close-top] modal-card {
  bottom: 100vh;
}
@media (min-width: 577px) {
  modal-card {
    width: clamp(576px, 80%, 768px);
    padding-inline: 3rem;
    justify-self: center;
  }
}
modal-card .modal-close {
  color: var(--pale) !important;
  cursor: pointer;
}
modal-card .modal-close.top {
  grid-area: modal_header;
  justify-self: end;
}
modal-card .modal-close.bottom {
  grid-area: modal_footer;
  padding-top: 1.5rem !important;
  place-self: center !important;
  font: 400 1em 500 1em "Alegreya Sans", sans-serif !important;
}
modal-card .modal-close svg {
  height: 1.75em;
}
modal-card .modal-content {
  grid-area: modal_content;
}
modal-card[content=preferences-panel] {
  font: 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=preferences-panel] button {
  border-radius: 1rem;
  border-width: 0;
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  background: var(--pale-transparent);
  color: var(--dark-transparent);
  font: 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=preferences-panel] button.active {
  color: var(--dark);
  background: var(--pale-translucent);
  border: 2px solid var(--pale);
}
modal-card[content=preferences-panel] button:has(.tetra-hebrew) {
  padding: 0.3rem 0.5rem 0.5rem;
}
modal-card[content=preferences-panel] h2, modal-card[content=preferences-panel] h3 {
  color: var(--pale);
  font-weight: 500;
  text-align: center;
}
modal-card[content=preferences-panel] h2 {
  padding-bottom: 0.5em;
  font: 500 2em "Alegreya Sans", sans-serif;
}
modal-card[content=preferences-panel] h3 {
  padding: 1.5em 0 0.5em;
  font: italic 500 1em "Alegreya Sans", sans-serif;
  font-size: 1.2em;
}
modal-card[content=preferences-panel] .marker {
  color: var(--color-secondary-soft);
}
modal-card[content=preferences-panel] .select {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  row-gap: 0.5em;
  column-gap: 0.5em;
  padding: 0;
  justify-content: center;
}
@media (min-width: 577px) {
  modal-card[content=preferences-panel] .select {
    gap: 1em;
  }
}
modal-card[content=preferences-panel] .verse {
  border-radius: 1rem;
  border-width: 0;
  color: var(--dark);
  display: block;
  width: fit-content;
  padding: 1em 1.5em;
  margin-inline: 1em;
  justify-self: center;
  background: url(../../assets/img/paper.png) repeat var(--pale);
  font: var(--body-font);
  text-wrap: pretty;
}
modal-card[content=preferences-panel] .toggle button {
  height: 8rem;
  margin-top: 1.5rem;
}
modal-card[content=preferences-prompt] {
  height: fit-content;
  width: 100%;
  background: var(--color-tertiary-main);
}
modal-card[content=preferences-prompt] button {
  border-radius: 1rem;
  border-width: 0;
  width: fit-content;
  padding: 1rem 1.5rem;
  justify-self: center;
  background: var(--pale-transparent);
  font: italic 500 1em "Alegreya Sans", sans-serif;
  cursor: pointer;
}
modal-card[content=preferences-prompt] h2 {
  width: 100%;
  padding: 1em;
  color: var(--pale);
  text-align: center;
  font: 400 1.25em 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=preferences-prompt] p {
  width: 100%;
  padding: 1em;
  text-align: center;
  font: 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=preferences-prompt] svg {
  height: 1.5rem;
  transform: translateY(0.35rem);
  padding: 0.25rem;
  margin-inline: 0.25rem;
  background: var(--pale-translucent);
  fill: var(--dark);
  border-radius: 0.25rem;
}
modal-card[content=info] {
  font: 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=info] h2 {
  padding-bottom: 0.5em;
  color: var(--pale);
  text-align: center;
  font: 400 2em 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=info] p {
  padding: 0.5rem;
}
modal-card[content=info] .acknowledgements {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
modal-card[content=about] {
  font-family: 500 1em "Alegreya Sans", sans-serif;
  line-height: 1.5em;
}
modal-card[content=about] h2 {
  padding-bottom: 0.5em;
  color: var(--pale);
  text-align: center;
  font: 400 2em 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=about] p {
  padding: 1rem 0;
}
modal-card[content=about] svg {
  height: 0.8rem;
  padding-right: 0.25em;
  fill: var(--dark);
}
modal-card[content=about] .em-block {
  color: var(--pale);
  font-size: 2em;
  font-weight: 300;
  line-height: 1.25em;
}
modal-card[content=about] .inline-logo {
  background-color: var(--pale-translucent);
  color: var(--color-tertiary-main);
  font: italic 500 1em "Alegreya", serif;
}
modal-card[content=about] .key {
  background-color: var(--pale-translucent);
  color: var(--dark);
  font: italic 500 1em "Alegreya Sans", sans-serif;
  border: 3px solid var(--pale-transparent);
}

psalm-card {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "psalm_title" "psalm_content";
}
psalm-card::before {
  display: block;
  grid-area: psalm_content;
  height: 2rem;
  position: sticky;
  background: var(--color-primary-main);
  content: "";
  top: 2.25rem;
}
psalm-card nav.multi {
  grid-area: psalm_content;
}
@media (min-width: 577px) {
  psalm-card {
    width: 576px;
    margin-inline: auto;
  }
}
psalm-card .psalm-box {
  border-radius: 2.25rem;
  border-width: 0;
  z-index: 4;
  grid-area: psalm_content;
  position: relative;
  top: 0;
  min-height: 50vh;
  padding: 3rem 1.75rem 3rem 1.25rem;
  background: url(../../assets/img/paper.png) repeat var(--pale);
  will-change: transform;
}

.refrain.top {
  padding-bottom: 1em;
}
.refrain.bottom + .refrain.top {
  padding-top: 2rem;
}
.refrain.bottom + .refrain.top::before {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  content: "***";
  font: italic 500 1em "Alegreya", serif;
  color: var(--color-secondary-soft);
}
.refrain.bottom {
  padding-top: 1em;
}
.refrain .rubric {
  color: var(--color-primary-soft);
  text-align: center;
  font: italic 500 1em "Alegreya", serif;
  font-size: 1.25em;
  line-height: 1.2em;
}
.refrain .refrain-text {
  padding: 0.5rem 0;
  color: var(--color-primary-main);
  text-align: center;
  font: italic 500 1em "Alegreya", serif;
  font-size: 1.4em;
  line-height: 1.25em;
  text-wrap: balance;
}

.psalm-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  line-height: 1.5em;
}
.psalm-text:not(:has(*)) {
  min-height: 75vh;
}
.psalm-text h2 {
  color: var(--color-primary-soft);
  font: italic 500 1em "Alegreya", serif;
  font-size: 1.2em;
  padding-left: 2.75em;
  padding-bottom: 0.25rem;
}
.psalm-text h2:not(:first-of-type) {
  padding-top: 1rem;
}
.psalm-text .verse {
  display: grid;
  grid-template-columns: 2em 1fr;
  gap: 1rem;
}
.psalm-text .verse .vn {
  color: var(--color-primary-soft);
  text-align: right;
  font: var(--body-font);
}
.psalm-text .verse .vs {
  min-width: 14ch;
  max-width: fit-content;
  padding-left: 1.5em;
  color: var(--dark);
  text-wrap: pretty;
}
.psalm-text .verse .vs .vi-1 {
  text-indent: -1.5em;
}
.psalm-text .verse .vs .vi-2 {
  text-indent: -1em;
}
.psalm-text .verse .vs .vi-3 {
  text-indent: -0.5em;
}
.psalm-text .verse .vs .marker {
  position: relative;
  bottom: 0.05em;
  opacity: 75%;
  color: var(--color-primary-soft);
}

.def-up, .def-low, .voc {
  vertical-align: 0.05em;
  font: small-caps 600 1.15em "Bellefair", "Alegreya Sans", sans-serif;
}

.tetra-latin {
  font: small-caps 600 1.05em "Bellefair", "Alegreya Sans", sans-serif;
}

.tetra-hebrew {
  font: 500 1.25em "Bellefair", serif !important;
  transform: translateY(19px);
}

h3 .def-up, h3 .def-low, h3 .voc {
  font: small-caps italic 500 0.95em "Bellefair", "Alegreya", serif;
}

.pn-caps-enabled .pn-sub-up,
.pn-caps-enabled .pn-sub-low,
.pn-caps-enabled .pn-ob-low,
.pn-caps-enabled .pn-pl-up,
.pn-caps-enabled .pn-pl-low,
.pn-caps-enabled .pos {
  vertical-align: 0.0175em;
  font: small-caps 600 1.05em "Bellefair", "Alegreya Sans", sans-serif;
}
.pn-caps-enabled h3 .pn-sub-up,
.pn-caps-enabled h3 .pn-sub-low,
.pn-caps-enabled h3 .pn-ob-low,
.pn-caps-enabled h3 .pn-pl-up,
.pn-caps-enabled h3 .pn-pl-low,
.pn-caps-enabled h3 .pos {
  font: small-caps italic 500 0.85em "Bellefair", "Alegreya", serif;
}

/*# sourceMappingURL=styles.css.map */
