/* SCREENS */
/* FONTS */
@font-face {
  font-family: "Alegreya";
  font-weight: 400 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSC-Regular.woff2), url(../../assets/fonts/AlegreyaSC-Medium.woff2);
  font-variant: small-caps;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400 500;
  font-display: block;
  src: url(../../assets/fonts/Alegreya-Regular.woff2), url(../../assets/fonts/Alegreya-Medium.woff2);
  font-variant: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSC-Italic.woff2), url(../../assets/fonts/AlegreyaSC-MediumItalic.woff2);
  font-variant: small-caps;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400 500;
  font-display: block;
  src: url(../../assets/fonts/Alegreya-Italic.woff2), url(../../assets/fonts/Alegreya-MediumItalic.woff2);
  font-variant: normal;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSansSC-Light.woff2), url(../../assets/fonts/AlegreyaSansSC-Regular.woff2), url(../../assets/fonts/AlegreyaSansSC-Medium.woff2);
  font-variant: small-caps;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSans-Light.woff2), url(../../assets/fonts/AlegreyaSans-Regular.woff2), url(../../assets/fonts/AlegreyaSans-Medium.woff2);
  font-variant: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSansSC-LightItalic.woff2), url(../../assets/fonts/AlegreyaSansSC-Italic.woff2), url(../../assets/fonts/AlegreyaSansSC-MediumItalic.woff2);
  font-variant: small-caps;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/AlegreyaSans-LightItalic.woff2), url(../../assets/fonts/AlegreyaSans-Italic.woff2), url(../../assets/fonts/AlegreyaSans-MediumItalic.woff2);
  font-variant: normal;
  font-style: italic;
}
@font-face {
  font-family: "Synonym";
  font-weight: 400;
  font-display: block;
  src: url(../../assets/fonts/Synonym-Regular.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Lexend Deca";
  font-weight: 200 400;
  font-display: block;
  src: url(../../assets/fonts/LexendDeca-ExtraLight.woff2), url(../../assets/fonts/LexendDeca-Light.woff2), url(../../assets/fonts/LexendDeca-Regular.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Lexend Giga";
  font-weight: 200 400;
  font-display: block;
  src: url(../../assets/fonts/LexendGiga-ExtraLight.woff2), url(../../assets/fonts/LexendGiga-Light.woff2), url(../../assets/fonts/LexendGiga-Regular.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Bitter";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/Bitter-Light.woff2), url(../../assets/fonts/Bitter-Regular.woff2), url(../../assets/fonts/Bitter-Medium.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Bitter";
  font-weight: 300 500;
  font-display: block;
  src: url(../../assets/fonts/Bitter-LightItalic.woff2), url(../../assets/fonts/Bitter-Italic.woff2), url(../../assets/fonts/Bitter-MediumItalic.woff2);
  font-style: italic;
}
@font-face {
  font-family: "Bellefair";
  font-weight: 400;
  font-display: block;
  src: url(../../assets/fonts/Bellefair-Regular.woff2);
  unicode-range: U+590-5FF, U+FB1D-FB4F;
  font-style: normal;
}
@font-face {
  font-family: "Sentient";
  src: url(../../assets/fonts/sentient/Sentient-Variable.woff2) format("woff2"), url(../../assets/fonts/sentient/Sentient-Variable.woff) format("woff"), url(../../assets/fonts/sentient/Sentient-Variable.ttf) format("truetype");
  font-weight: 200 700;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: "Sentient Italic";
  src: url(../../assets/fonts/sentient/Sentient-VariableItalic.woff2) format("woff2"), url(../../assets/fonts/sentient/Sentient-VariableItalic.woff) format("woff"), url(../../assets/fonts/sentient/Sentient-VariableItalic.ttf) format("truetype");
  font-weight: 200 700;
  font-display: block;
  font-style: italic;
}
@font-face {
  font-family: "League Gothic";
  font-display: block;
  src: url(../../assets/fonts/league-gothic/LeagueGothic-Regular.woff2);
  font-style: normal;
}
:root {
  --lexend: "Lexend Deca", sans-serif;
  --lexend-wide: "Lexend Giga", sans-serif;
  --bitter: "Bitter", serif;
  --synonym: "Synonym", sans-serif;
  --sentient: "Sentient", serif;
  --body-font-face: var(--sentient);
  --body-font-size: 1.2rem;
  --body-font: 325 var(--body-font-size) var(--body-font-face);
}
@media (min-width: 577px) {
  :root {
    --body-font-size: 1.1rem;
  }
}

/* COLOURS */
/*
@function soft($color) {
  @return color.scale($color, $lightness: 30%);
}

@function dark($color) {
  @return color.scale($color, $lightness: -65%, $saturation: -20%);
}

@function translucent($color) {
  @return color.scale($color, $lightness: 30%, $alpha: -50%);
}
*/
:root {
  --cg-1000: hsl(180, 12%, 13%);
  --cg-900: hsl(185, 12%, 21%);
  --cg-800: hsl(180, 11%, 27%);
  --cg-700: hsl(180, 10%, 32%);
  --cg-600: hsl(180, 9%, 38%);
  --cg-500: hsl(180, 8%, 44%);
  --cg-400: hsl(180, 8%, 51%);
  --cg-300: hsl(180, 9%, 58%);
  --cg-200: hsl(177, 10%, 65%);
  --cg-100: hsl(173, 12%, 72%);
  --cg-50: hsl(164, 13%, 77%);
  --cg-30: hsl(160, 12%, 81%);
  --cg-10: hsl(147, 11%, 83%);
  --wg-1000: hsl(34, 10%, 13%);
  --wg-900: hsl(38, 9%, 25%);
  --wg-800: hsl(42, 8%, 32%);
  --wg-700: hsl(44, 8%, 38%);
  --wg-600: hsl(45, 7%, 45%);
  --wg-500: hsl(46, 7%, 52%);
  --wg-400: hsl(44, 9%, 60%);
  --wg-300: hsl(45, 13%, 69%);
  --wg-200: hsl(48, 18%, 78%);
  --wg-100: hsl(51, 25%, 85%);
  --wg-50: hsl(51, 42%, 91%);
  --wg-30: hsl(50, 64%, 95%);
  --wg-10: hsl(51, 100%, 99%);
  --pc-900: hsl(31, 100%, 14%);
  --pc-800: hsl(33, 85%, 31%);
  --pc-700: hsl(35, 78%, 44%);
  --pc-600: hsl(36, 85%, 55%);
  --pc-500: hsl(38, 95%, 59%);
  --pc-400: hsl(40, 100%, 62%);
  --pc-300: hsl(41, 100%, 66%);
  --pc-200: hsl(43, 100%, 70%);
  --pc-100: hsl(45, 100%, 78%);
  --pc-50: hsl(46, 100%, 88%);
  --pc-30: hsl(46, 100%, 95%);
  --sc-900: hsl(192, 100%, 11%);
  --sc-800: hsl(189, 100%, 18%);
  --sc-700: hsl(187, 97%, 25%);
  --sc-600: hsl(186, 91%, 30%);
  --sc-500: hsl(184, 83%, 35%);
  --sc-400: hsl(183, 73%, 41%);
  --sc-300: hsl(181, 57%, 48%);
  --sc-200: hsl(179, 53%, 58%);
  --sc-100: hsl(178, 53%, 73%);
  --sc-50: hsl(178, 68%, 91%);
  --on-primary: hsl(317, 28%, 98%);
  --primary: hsl(317, 41%, 30%);
  --primary-container: hsl(317, 44%, 34%);
  --primary-variant: hsl(318, 54%, 22%);
  --on-secondary: hsl(318, 28%, 10%);
  --secondary: hsl(27, 57%, 81%);
  --secondary-container: hsl(27, 57%, 70%);
  --secondary-variant: hsl(353, 41%, 45%);
  --on-tertiary: hsl(180, 68%, 91%);
  --tertiary: hsl(180, 72%, 38%);
  --tertiary-container: hsl(180, 93%, 38%);
  --tertiary-variant: hsl(180, 100%, 11%);
  --red: hsl(353, 76%, 57%);
  --pink: hsl(0, 40%, 63%);
  --on-surface: hsl(0, 10%, 8%);
  --surface: hsl(27, 77%, 96%);
  --on-background: hsl(317, 28%, 98%);
  --background: hsl(353, 5%, 13%);
  --text-on-modal: var(--on-tertiary);
  --modal-background: var(--tertiary);
  --text-on-modal-highlight: var(--tertiary-variant);
  --modal-highlight-background: var(--red);
  --modal-highlight-detail: var(--red);
  --text-on-modal-button: var(--on-tertiary);
  --modal-button-background: var(--tertiary-container);
  --modal-button-detail: var(--tertiary-variant);
  --text-on-modal-button-active: var(--on-secondary);
  --modal-button-active-background: var(--secondary-container);
  --modal-button-active-detail: var(--secondary-variant);
  --text-on-button: var(--on-primary);
  --button-background: var(--primary-container);
  --button-detail: var(--primary-variant);
  --text-on-button-active: var(--on-primary);
  --button-active-background: var(--primary);
  --button-active-detail: var(--on-primary);
  --psalm-title-card-background: var(--secondary);
  --psalm-multi-background: var(--secondary-container);
  --office-title-card-background: var(--tertiary);
  --ofice-multi-background: var(--tertiary-container);
  --text-on-body: var(--on-surface);
  --body-detail: var(--on-surface);
  --body-highlight: var(--primary);
  --logo-text: var(--grey-30);
  --logo-left: var(--pri-10);
  --logo-right: var(--pri-20);
  --logo-line: var(--grey-50);
  --nav-bar-background: var(--background);
  --text-on-nav-bar: var(--on-background);
  --link-on-nav-bar: var(--on-background);
  --nav-multi-background: var(--secondary);
  --text-on-nav-multi: var(--on-secondary);
  --header-card-background: var(--tertiary);
  --text-on-header-card: var(--on-secondary);
  --header-card-detail: var(--secondary-variant);
  --page-background-dark: var(--background);
  --page-background-feature: var(--primary);
  --preferences-top: var(--primary);
  --preferences-mid: var(--primary);
  --preferences-low: var(--primary);
  --preferences-button-background: var(--grey-40);
  --image-button: var(--secondary);
  --index-block-background: var(--grey-30);
  --text-on-index-block: var(--grey-50);
  --index-heading: var(--grey-20);
  --input-field: var(--grey-40);
  --text-on-input-field: var(--grey-10);
  --page-bg: var(--background);
  --body-text: var(--on-surface);
  --body-bg: var(--surface);
}

/* ASSETS */
:root {
  --left-scroll: "";
  --right-scroll: "";
  --left-scroll-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" height="1.75em"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" /></svg>');
  --right-scroll-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" height="1.75em"><path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" /></svg>');
}

/* LAYOUT */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition-duration: 0.01ms !important;
  }
}
html {
  box-sizing: border-box;
  overscroll-behavior: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p, h1, h2, h3 {
  margin: 0;
}

a.button {
  border-radius: 1rem;
  border-width: 0;
  height: fit-content;
  width: 100%;
  padding: 1rem;
  background: var(--button-background);
  color: var(--text-on-button);
  font: italic 500 1em "Alegreya Sans", sans-serif;
  text-decoration: none;
  text-align: center;
}

body {
  margin: 0;
  justify-content: center;
  background: var(--page-background-dark);
  font: var(--body-font);
  overscroll-behavior: none;
}
body:has(.modal[open]) {
  overflow-y: hidden;
}
@media (min-width: 577px) {
  body {
    background: var(--page-background-feature);
  }
}
body.loading:has(.psalter, .lectionary) nav,
body.loading:has(.psalter, .lectionary) main,
body.loading:has(.psalter, .lectionary) footer {
  visibility: hidden;
}

header {
  display: flex;
  place-content: center;
  padding: 0 1.5rem;
}
@media (min-width: 769px) {
  header {
    background: none;
    margin-top: 1rem;
  }
}

main {
  margin: auto;
}

footer {
  text-align: center;
  font: italic 500 1em "Alegreya Sans", sans-serif;
  font-weight: 300;
  padding: 0 2rem 1rem;
  color: var(--text-on-nav-bar);
  margin-inline: auto;
}
footer a {
  color: var(--link-on-nav-bar);
  text-decoration: none;
}
footer p {
  margin: 1rem auto 0.5rem;
  max-width: 675px;
}
footer .logo-1, footer .logo-2 {
  color: var(--link-on-nav-bar);
}
body:has(.lectionary) footer {
  padding-top: 0.5rem;
}
@media (min-width: 577px) {
  footer {
    font-size: 0.95em;
    margin-top: 2rem;
  }
}
@media (min-width: 769px) {
  footer {
    padding: 0 2rem 1rem;
    background-color: transparent;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.logo-1 {
  color: var(--logo-left);
}

.logo-2 {
  color: var(--logo-right);
}

.inline-logo {
  font: 400 1em "Sentient Italic", sans-serif;
}
.inline-logo.flow {
  font: italic 500 1em "Alegreya Sans", sans-serif;
}

.preferences .top {
  fill: var(--preferences-top);
}
.preferences .mid {
  fill: var(--preferences-mid);
}
.preferences .bottom {
  fill: var(--preferences-low);
}

.title-box .buttons {
  z-index: 2;
  display: flex;
  width: 100%;
  max-width: 520px;
  height: 3.15rem;
  padding-right: 1rem;
  justify-content: end;
  position: relative;
  bottom: 1.5rem;
}
.title-box .buttons .preferences {
  display: flex;
  width: 3.15rem;
  cursor: pointer;
  background: var(--preferences-button-background);
  border-radius: 2rem;
}
.title-box .buttons .preferences svg {
  margin: auto;
}
@media (min-width: 577px) {
  .title-box .buttons {
    position: absolute;
    max-width: 100%;
    top: 2rem;
    padding-right: 6.5rem;
  }
}
@media (min-width: 769px) {
  .title-box .buttons {
    top: -3.5rem;
  }
}

.title-box:not(.office-psalms .title-box) {
  border-top-left-radius: 2.25rem;
  border-top-right-radius: 2.25rem;
  border-width: 0;
  display: flex;
  flex-direction: column;
  height: 60vh;
  position: sticky;
  top: 0;
  padding: 0 0 2.25rem;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle at bottom, rgba(252, 234, 187, 0.7333333333), rgba(0, 0, 0, 0)), url(../../assets/textures/light/soft-wallpaper.png) repeat var(--header-card-background);
}
.psalter .title-box:not(.office-psalms .title-box) {
  grid-area: psalm_title;
}
@media (min-width: 577px) {
  .psalter .title-box:not(.office-psalms .title-box) {
    height: 25vh !important;
    position: relative;
  }
  :has(nav.multi) .psalter .title-box:not(.office-psalms .title-box) {
    height: calc(25vh + 3.75rem) !important;
    min-height: 15.75rem;
  }
}
.lectionary .title-box:not(.office-psalms .title-box) {
  grid-area: office_title;
}
@media (min-width: 577px) {
  .title-box:not(.office-psalms .title-box)::after {
    content: "";
  }
}
.title-box:not(.office-psalms .title-box)::before {
  display: block;
  height: 3.15rem;
  width: 100%;
  content: "";
}
.title-box:not(.office-psalms .title-box) h1 {
  position: relative;
  top: 0;
  color: var(--text-on-header-card);
  font: 400 1em "Sentient Italic", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
}
.title-box:not(.office-psalms .title-box) h2 {
  color: var(--header-card-detail);
  font: 400 1em "Sentient Italic", sans-serif;
  font-size: 2em;
  text-align: center;
}

@media (min-width: 577px) {
  :not(.office-psalms) .title-box {
    height: 25vh;
    min-height: 12rem;
  }
}
@media (min-width: 769px) {
  .title-box {
    position: relative !important;
  }
}
body:has(.index) {
  background: url(../../assets/textures/light/soft-wallpaper.png) repeat;
}
body:has(.index) header {
  justify-content: space-between;
  background: transparent;
}
@media (min-width: 1025px) {
  body:has(.index) header {
    width: clamp(1024px, 80%, 1136px);
    margin-inline: auto;
  }
}
body:has(.index) header h1 {
  font: 400 1em "Sentient Italic", sans-serif;
  padding: 1rem 0;
  font-size: clamp(1.5em, 8.5vw, 2.25em);
}
body:has(.index) header h1 svg {
  padding-left: 0.5rem;
  transform: translateY(0.25rem);
}
body:has(.index) header h1 .book-line {
  stroke: var(--logo-line);
  filter: brightness(90%);
}
body:has(.index) header h1 .book-left {
  fill: var(--logo-left);
}
body:has(.index) header h1 .book-right {
  fill: var(--logo-right);
}
body:has(.index) header .buttons {
  display: flex;
  gap: 1rem;
  align-self: center;
}
body:has(.index) header .buttons * {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
body:has(.index) header .buttons .info svg {
  fill: var(--secondary-color);
}

.index {
  display: grid;
  gap: 1rem;
  width: clamp(375px, 90vw, 625px);
}
@media (min-width: 769px) {
  .index {
    grid-template-columns: 40% auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "beta welcome" "beta office_nav" "psalm_nav psalm_nav";
    gap: 2rem;
    padding: 4rem 3rem;
  }
}
@media (min-width: 1025px) {
  .index {
    width: 1024px;
    margin-inline: auto;
  }
}
.index button {
  border-radius: 1rem;
  border-width: 0;
  height: fit-content;
  padding: 1.25rem 0.5rem;
  color: var(--text-on-button);
}
.index section:not(.modal, .modal *) {
  display: grid;
  grid-template-rows: auto 1fr;
}
.index section:not(.modal, .modal *).index-block {
  font: 500 1em "Alegreya Sans", sans-serif;
  color: var(--text-on-index-block);
  background: var(--index-block-background);
}
.index section:not(.modal, .modal *) h2 {
  padding: 1rem;
  font-size: 1em;
  color: var(--index-heading);
}
.index .beta {
  border-radius: 1rem;
  border-width: 0;
  padding: 2rem;
  margin: 1rem 2rem;
  text-align: center;
}
@media (min-width: 769px) {
  .index .beta {
    grid-area: beta;
    margin: 0;
  }
}
.index .beta a {
  font-weight: 600;
  color: var(--text-on-index-block);
  width: fit-content;
  padding-inline: 2rem;
  place-self: center;
}
.index .beta h3, .index .beta p {
  padding-bottom: 1rem;
}
.index .expand-block .text {
  font-size: 1.2em;
}
.index .expand-block .arrow {
  filter: invert(100%);
  opacity: 50%;
}
.index .select {
  display: grid;
  gap: 1rem;
  padding-inline: 1.5rem;
  height: fit-content;
}
@media (min-width: 769px) {
  .index .select {
    padding-inline: 0;
  }
}
@media (min-width: 769px) {
  .index .office-nav {
    grid-area: office_nav;
  }
}
.index .office-nav button {
  padding: 2.25rem 0.5rem;
  font: 400 1em "Sentient Italic", sans-serif;
  font-size: 2rem;
  cursor: pointer;
}
.index .office-nav button.morning {
  background: var(--index-block-background);
}
.index .office-nav button.evening {
  background: var(--index-block-background);
}
.index .office-nav h2 .soon {
  padding-right: 0.75rem;
  font: italic 500 1em "Alegreya Sans", sans-serif;
}
.index .office-nav .select {
  grid-template-columns: 47% 47%;
  place-content: center;
}
.index .psalm-nav .search {
  display: none;
}
@media (min-width: 769px) {
  .index .psalm-nav .search {
    display: grid;
    font: 200 1em 500 1em "Alegreya Sans", sans-serif;
  }
  .index .psalm-nav .search form {
    border-radius: 1rem;
    border-width: 0;
    display: flex;
    gap: 0.5rem;
    height: fit-content;
    padding: 1rem;
    place-content: center;
    background: var(--index-block-background);
    color: var(--text-on-index-block);
    /* Chrome, Safari, Edge, Opera */
    /* Firefox */
  }
  .index .psalm-nav .search form label {
    height: fit-content;
    align-self: center;
    font-size: 1.5rem;
  }
  .index .psalm-nav .search form input, .index .psalm-nav .search form button {
    border-radius: 0.5rem;
    border-width: 0;
    height: 3.25rem;
    width: 4.5rem;
    padding: 0.5rem;
    font-weight: 400;
    outline: 0;
  }
  .index .psalm-nav .search form input {
    align-self: center;
    background: var(--input-field);
    text-align: center;
    font: 1.5rem 500 1em "Alegreya Sans", sans-serif;
    color: var(--text-on-input-field);
    outline: 0;
    border-width: 0;
    margin-right: 2rem;
  }
  .index .psalm-nav .search form input::-webkit-outer-spin-button,
  .index .psalm-nav .search form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .index .psalm-nav .search form input[type=number] {
    -moz-appearance: textfield;
  }
  .index .psalm-nav .search form button {
    background: var(--button-background);
    font: italic 500 1em "Alegreya Sans", sans-serif;
    font-size: 1.25rem;
    color: var(--text-on-button);
    opacity: 0.5;
  }
  .index .psalm-nav .search form button.active {
    opacity: 1;
    background: var(--button-active-background);
    color: var(--text-on-button-active);
    cursor: pointer;
  }
}
@media (min-width: 769px) {
  .index .psalm-nav {
    grid-area: psalm_nav;
  }
  .index .psalm-nav .select {
    display: none;
  }
}
.index .psalm-nav .select .content {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  column-gap: 1rem;
  row-gap: 1.5rem;
  margin-top: 1.5rem;
  place-content: center;
}
.index .psalm-nav .select .content .psalm-button {
  border-radius: 0.5rem;
  border-width: 0;
  background: var(--button-background);
  font: 1.1em "Alegreya Sans", sans-serif;
  color: var(--text-on-button);
  padding: 0.5rem;
}
@media (min-width: 769px) {
  .index .welcome {
    grid-area: welcome;
  }
}
.index .welcome button {
  font: 500 1em "Alegreya Sans", sans-serif;
  background: var(--button-background);
  color: var(--text-on-button);
  cursor: pointer;
}
.index .welcome button svg {
  position: relative;
  top: 0.15em;
  padding-left: 0.25rem;
}

.index + footer {
  display: grid;
  padding: 2rem 2rem 1rem;
  color: var(--text-on-body);
  background-color: transparent;
  font: italic 500 1em "Alegreya Sans", sans-serif;
}
@media (min-width: 1025px) {
  .index + footer {
    width: clamp(1024px, 90%, 1260px);
    margin-inline: auto;
  }
}
.index + footer a {
  color: var(--body-detail);
  text-decoration: none;
}
.index + footer .logo-1 {
  color: var(--logo-left);
}
.index + footer .logo-2 {
  color: var(--logo-right);
}

.lectionary::after {
  position: relative;
  bottom: 0;
  height: 3rem;
  align-self: end;
  background: var(--dark);
  content: "";
}
@media (min-width: 577px) {
  .lectionary::after {
    display: none;
  }
}

office-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "office_title" "office_content";
}
office-container::before {
  display: grid;
  grid-area: office_content;
  height: 2rem;
  width: 100%;
  position: sticky;
  background: var(--color-main);
  content: "";
  top: 2.25rem;
}
office-container .title {
  display: flex;
  grid-area: office_title;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
office-container[office=morning] .title-box {
  background: radial-gradient(circle at bottom, #fceabb, transparent), url(../../assets/textures/light/soft-wallpaper.png) repeat var(--morning-title-card-background);
}
office-container nav.multi {
  grid-area: office_content;
  z-index: 1;
  padding-bottom: 4.5rem !important;
  will-change: transform;
  transition: all 500ms ease;
}
office-container nav.multi .drop.vertical {
  font: 500 1em "Alegreya Sans", sans-serif;
  display: grid;
  gap: 2rem;
}
office-container nav.multi div:not(:has(.options)) .day {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border-width: 0;
  border: 2px solid var(--pale-transparent);
  cursor: pointer;
}
office-container nav.multi div[active]:not(:has(.options)) .day {
  background-color: var(--color-translucent) !important;
  border-color: var(--pale) !important;
}
office-container nav.multi .day {
  margin: 0.5rem auto 0.5rem;
  text-align: center;
  width: fit-content;
  font-size: 1.25em;
  line-height: 1.75em;
  color: var(--bright);
}
office-container nav.multi .options {
  margin-top: 0.5rem;
}
office-container nav.multi .options * {
  padding: 0.5rem 1rem;
  margin-inline: 0.25rem;
  border-radius: 1rem;
  border-width: 0;
  border: 2px solid var(--pale-transparent);
  cursor: pointer;
}
office-container nav.multi .options *[active] {
  background-color: var(--color-translucent) !important;
  border-color: var(--pale) !important;
}
office-container .office-psalms {
  grid-area: office_content;
  display: grid;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  pointer-events: none;
}
:has(nav.multi) office-container .office-psalms {
  position: relative;
  top: 3.5rem;
  margin-bottom: 3.5rem;
}
office-container .office-psalms psalm-card {
  display: grid;
}
office-container .office-psalms psalm-card::before {
  background: var(--color-soft);
}
office-container .office-psalms psalm-card:not(:first-of-type)::after {
  display: block;
  grid-area: psalm_title;
  height: 2.25rem;
  position: sticky;
  background: url(../../assets/textures/light/soft-wallpaper.png) repeat;
  content: "";
  top: 0;
}
@media (min-width: 577px) {
  office-container .office-psalms psalm-card:not(:first-of-type)::after {
    position: relative;
    background: var(--color-main);
    top: -4.25rem;
    height: 4.25rem;
    z-index: 1;
  }
}
office-container .office-psalms psalm-card .title-box {
  border-top-left-radius: 2.25rem;
  border-top-right-radius: 2.25rem;
  border-width: 0;
  grid-area: psalm_title;
  display: flex;
  flex-direction: column;
  height: 10vh;
  min-height: 8.5rem;
  position: sticky;
  top: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: var(--color-soft);
  z-index: 1;
}
office-container .office-psalms psalm-card .title-box h1 {
  color: var(--pale);
  font: 400 1em "Sentient Italic", sans-serif;
  font-size: 2em;
  line-height: 1.1em;
  text-align: center;
}
office-container .office-psalms psalm-card:not(:last-of-type) .psalm-box {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 577px) {
  office-container .office-psalms psalm-card:not(:last-of-type) .psalm-box {
    border-bottom-left-radius: 2.25rem;
    border-bottom-right-radius: 2.25rem;
    border-width: 0;
    margin-bottom: 2rem;
  }
}
.psalm-box { /*
psalm-card:has(nav.multi) & {
  top: 1.75rem;
  margin-bottom: 7.5rem;
  will-change: transform;
  transition: top 500ms ease;
}*/ }
psalm-card:has(nav.multi:last-child[expanded]) .psalm-box {
  top: -1.75rem;
  margin-bottom: 7.5rem;
}

.psalter .title-box:not(.office-psalms .title-box) {
  background: radial-gradient(circle at bottom, rgba(252, 234, 187, 0.7333333333), rgba(0, 0, 0, 0)), url(../../assets/textures/light/soft-wallpaper.png) repeat var(--header-card-background);
}

.expand .title {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "exp_spacer exp_text exp_arrow";
  gap: 1ch;
  place-content: center;
  cursor: pointer;
}
.expand .title::before {
  grid-area: exp_spacer;
  width: 1rem;
  height: 1rem;
  content: "";
}
.expand .arrow {
  grid-area: exp_arrow;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  align-self: center;
  will-change: transform;
  cursor: pointer;
}

.expand-block {
  border-radius: 1rem;
  border-width: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas: "exp_block_title" "exp_block_drop";
  height: 4rem;
  padding: 1rem 1rem 2rem;
  justify-content: center;
  overflow-y: hidden;
  background: var(--button-background);
  color: var(--text-on-button);
  font: 200 1em 500 1em "Alegreya Sans", sans-serif;
}
.expand-block[expanded] {
  height: 100%;
}
.expand-block[expanded] .arrow {
  transform: rotate(180deg) !important;
}
.expand-block .title {
  grid-area: exp_block_title;
}
.expand-block .arrow {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" /></svg>');
  transition: all 500ms ease;
}
.expand-block .content {
  grid-area: exp_block_drop;
}

.expand-menu:not(:last-child) .arrow {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M9.47 6.47a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 8.06l-3.72 3.72a.75.75 0 0 1-1.06-1.06l4.25-4.25Z" clip-rule="evenodd" /></svg>');
}
.expand-menu:not(:last-child)[expanded] .arrow {
  transform: rotate(180deg) !important;
}
.expand-menu:last-child .arrow {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" /></svg>');
}
.expand-menu:last-child[expanded] .arrow {
  transform: rotate(0deg) !important;
}
.expand-menu[expanded] .arrow {
  opacity: 0;
}

nav.main {
  display: flex;
  flex-direction: row;
  height: 1.5em;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0.5em;
  background: var(--nav-bar-bg);
  color: var(--text-on-nav-bar);
  pointer-events: none;
}
body:has(.psalter) nav.main {
  width: 100%;
}
nav.main svg {
  cursor: pointer;
  pointer-events: auto;
}
nav.main .book-line {
  stroke: var(--logo-line);
}
nav.main .book-left {
  fill: var(--logo-left);
}
nav.main .book-right {
  fill: var(--logo-right);
}
nav.main .to-top {
  display: inline;
}
nav.main .to-top.hidden {
  display: none;
}

@media (min-width: 769px) {
  nav.main {
    margin-inline: auto;
    background: none;
    width: 250px;
    z-index: 3;
  }
  body:has(.lectionary) nav.main {
    width: fit-content;
  }
  footer nav.main .left, footer nav.main .right {
    opacity: 0;
    pointer-events: none;
  }
}
nav.multi {
  z-index: 1;
  display: grid;
  gap: 0.5rem;
  position: relative;
  justify-content: center;
  align-self: end;
  background: var(--nav-multi-background);
  color: var(--text-on-nav-multi);
  font: 500 1em "Alegreya Sans", sans-serif;
}
@media (min-width: 577px) {
  nav.multi {
    width: 520px;
    justify-self: center;
  }
}
nav.multi:not(:last-child) {
  border-top-left-radius: 2.25rem;
  border-top-right-radius: 2.25rem;
  border-width: 0;
  grid-template-rows: auto auto;
  grid-template-areas: "multi_nav_menu_title" "multi_nav_menu_drop";
  top: -3.75rem;
  padding: 0.75rem 1rem 3rem;
  align-self: start;
  align-content: start;
  will-change: transform;
  transition: top 500ms ease;
}
nav.multi:last-child {
  border-bottom-left-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
  border-width: 0;
  z-index: 0;
  grid-template-rows: auto auto;
  grid-template-areas: "multi_nav_menu_drop" "multi_nav_menu_title";
  position: relative;
  bottom: 0;
  padding: 3rem 1rem 1rem;
  align-content: end;
  will-change: transform;
  transition: all 500ms ease;
}
nav.multi .title {
  grid-area: multi_nav_menu_title;
  display: grid;
}
nav.multi .spacer {
  grid-area: exp_spacer;
  width: 20px;
}
nav.multi .text {
  grid-area: exp_text;
  opacity: 0.8;
  font-size: 1.5em;
}
nav.multi .arrow {
  filter: invert(100%);
  opacity: 50%;
}
nav.multi .drop {
  grid-area: multi_nav_menu_drop;
}
nav.multi .drop.horizontal {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  flex-direction: row;
  font: italic 500 1em "Alegreya Sans", sans-serif;
  font-size: 1.25em;
  padding: 0.5em 0;
}
nav.multi .drop.horizontal[scroll] {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  place-content: start;
  justify-items: right;
  padding-inline: 50%;
  scroll-snap-type: x mandatory;
  max-width: 100vw;
}
nav.multi .drop.horizontal[scroll]::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}
nav.multi .drop.horizontal * {
  border-radius: 1rem;
  border-width: 0;
  border: 2px solid var(--button-detail);
  flex-grow: 0;
  flex-basis: 5rem;
  padding: 0.5rem 1rem;
  margin-inline: 0.5rem;
  text-align: center;
  cursor: pointer;
  scroll-snap-align: center;
  color: var(--text-on-button);
  font-weight: 500;
}
nav.multi .drop.horizontal *.active {
  background: var(--button-active-background);
  border: 2px solid var(--bright);
  color: var(--text-on-button-active);
  font-weight: 600;
}
nav.multi .drop.vertical {
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
}
nav.multi:has([scroll])::before, nav.multi:has([scroll])::after {
  z-index: 1;
  grid-area: multi_nav_menu_drop;
  display: flex;
  width: 6rem;
  padding-inline: 0.5rem;
  pointer-events: none;
  align-items: center;
}
nav.multi:has([scroll])::before {
  justify-self: start;
  justify-content: start;
  background: linear-gradient(to right, var(--color-soft), rgba(0, 0, 0, 0));
  content: var(--left-scroll);
}
nav.multi:has([scroll])::after {
  justify-self: end;
  justify-content: end;
  background: linear-gradient(to left, var(--color-soft), rgba(0, 0, 0, 0));
  content: var(--right-scroll);
}

.modal {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  pointer-events: none;
  overflow-y: scroll;
  scrollbar-width: none;
  z-index: 10;
}
.modal::-webkit-scrollbar { /* Chrome, Safari, Opera */
  display: none;
}
.modal::before {
  position: fixed;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: var(--wg-1000);
  will-change: transform;
  transition: opacity 500ms ease;
  content: "";
}
.modal[open]::before {
  opacity: 0.9;
}
.modal[close-top]::before {
  opacity: 0;
}

modal-card {
  border-radius: 2.25rem;
  border-width: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "modal_header" "modal_content" "modal_footer";
  position: relative;
  bottom: -100vh;
  padding: 1.5rem 2.5rem 2.5rem;
  margin: 20vh 0 10vh;
  background: url(../../assets/textures/pattern/xv.png) repeat var(--modal-background);
  font-family: "Alegreya Sans", sans-serif;
  color: var(--text-on-modal);
  will-change: transform;
  transition: bottom 500ms ease;
  pointer-events: auto;
}
[open] modal-card {
  bottom: 0;
}
[close-top] modal-card {
  bottom: 100vh;
}
@media (min-width: 577px) {
  modal-card {
    width: clamp(576px, 80%, 768px);
    padding-inline: 3rem;
    justify-self: center;
  }
}
modal-card .modal-close {
  color: var(--text-on-modal) !important;
  cursor: pointer;
}
modal-card .modal-close.top {
  grid-area: modal_header;
  justify-self: end;
}
modal-card .modal-close.bottom {
  grid-area: modal_footer;
  padding-top: 1.5rem !important;
  place-self: center !important;
  font: 400 1em 500 1em "Alegreya Sans", sans-serif !important;
}
modal-card .modal-close svg {
  height: 1.75em;
}
modal-card .modal-content {
  grid-area: modal_content;
}
modal-card .modal-content h2, modal-card .modal-content h3 {
  color: var(--text-on-modal);
  font-weight: 500;
  text-align: center;
  font-size: 1.2em;
}
modal-card .modal-content h2 {
  font: 500 2em "Alegreya Sans", sans-serif;
  padding-bottom: 0.5em;
}
modal-card .modal-content h3 {
  font: italic 500 1em "Alegreya Sans", sans-serif;
  padding: 1.5em 0 0.5em;
}
modal-card[content=preferences-panel] button {
  border-radius: 1rem;
  border-width: 0;
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  background: var(--modal-button-background);
  color: var(--text-on-modal-button);
  font: 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=preferences-panel] button.active {
  color: var(--text-on-modal-button-active);
  font-weight: 600;
  background: url(../../assets/textures/pattern/xv.png) repeat var(--primary);
  border: 2px solid var(--button-active-detail);
}
modal-card[content=preferences-panel] button:has(.tetra-hebrew) {
  padding: 0.3rem 0.5rem 0.5rem;
}
modal-card[content=preferences-panel] .marker {
  color: var(--body-detail);
}
modal-card[content=preferences-panel] .select {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  row-gap: 0.5em;
  column-gap: 0.5em;
  padding: 0;
  justify-content: center;
}
@media (min-width: 577px) {
  modal-card[content=preferences-panel] .select {
    gap: 1em;
  }
}
modal-card[content=preferences-panel] .verse {
  border-radius: 1rem;
  border-width: 0;
  color: var(--text-on-body);
  display: block;
  width: fit-content;
  padding: 1em 1.5em;
  margin-inline: 1em;
  justify-self: center;
  background: url(../../assets/textures/light/soft-wallpaper.png) repeat;
  font: var(--body-font);
  text-wrap: pretty;
}
modal-card[content=preferences-panel] .toggle button {
  height: 8rem;
  margin-top: 1.5rem;
}
modal-card[content=preferences-prompt] {
  height: fit-content;
  width: 100%;
  background: var(--modal-background);
}
modal-card[content=preferences-prompt] button {
  border-radius: 1rem;
  border-width: 0;
  width: fit-content;
  padding: 1rem 1.5rem;
  justify-self: center;
  background: var(--button-background);
  font: italic 500 1em "Alegreya Sans", sans-serif;
  cursor: pointer;
}
modal-card[content=preferences-prompt] h2 {
  width: 100%;
  padding: 1em;
  color: var(--text-on-modal);
  text-align: center;
  font: 400 1.25em 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=preferences-prompt] p {
  width: 100%;
  padding: 1em;
  text-align: center;
  font: 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=preferences-prompt] svg {
  height: 1.5rem;
  transform: translateY(0.35rem);
  padding: 0.25rem;
  margin-inline: 0.25rem;
  background: var(--modal-highlight-background);
  fill: var(--text-on-modal-highlight);
  border-radius: 0.25rem;
}
modal-card[content=info] {
  font: 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=info] h2 {
  padding-bottom: 0.5em;
  color: var(--text-on-modal);
  text-align: center;
  font: 400 2em 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=info] p {
  padding: 0.5rem;
}
modal-card[content=info] .acknowledgements {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
modal-card[content=about] {
  font-family: 500 1em "Alegreya Sans", sans-serif;
  line-height: 1.5em;
}
modal-card[content=about] h2 {
  padding-bottom: 0.5em;
  color: var(--text-on-modal);
  text-align: center;
  font: 400 2em 500 1em "Alegreya Sans", sans-serif;
}
modal-card[content=about] p {
  padding: 1rem 0;
}
modal-card[content=about] svg {
  height: 0.8rem;
  padding-right: 0.25em;
  fill: var(--text-on-modal);
}
modal-card[content=about] .em-block {
  color: var(--text-on-modal);
  font-size: 2em;
  font-weight: 300;
  line-height: 1.25em;
}
modal-card[content=about] .inline-logo {
  background-color: var(--modal-highlight-background);
  color: var(--logo-text);
  font: 400 1em "Sentient Italic", sans-serif;
}
modal-card[content=about] .key {
  background-color: var(--modal-highlight-background);
  color: var(--text-on-modal-highlight);
  font: italic 500 1em "Alegreya Sans", sans-serif;
  border: 3px solid var(--modal-highlight-detail);
}

psalm-card {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "psalm_title" "psalm_content";
}
psalm-card nav.multi {
  grid-area: psalm_content;
}
@media (min-width: 577px) {
  psalm-card {
    width: 576px;
    margin-inline: auto;
  }
}
psalm-card:has(nav.multi)::before {
  content: "";
  background: var(--psalm-multi-background);
}
psalm-card .psalm-box {
  border-radius: 2.25rem;
  border-width: 0;
  z-index: 4;
  grid-area: psalm_content;
  position: relative;
  top: 0;
  margin-bottom: -2.25rem;
  min-height: 50vh;
  padding: 3rem 1.75rem 3rem 1.25rem;
  background: var(--surface);
  will-change: transform;
}

.refrain.top {
  padding-bottom: 1em;
}
.refrain.bottom + .refrain.top {
  padding-top: 2rem;
}
.refrain.bottom + .refrain.top::before {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  content: "***";
  font: 400 1em "Sentient Italic", sans-serif;
  color: var(--body-detail);
}
.refrain.bottom {
  padding-top: 1em;
}
.refrain .rubric {
  color: var(--blend-on-surface);
  text-align: center;
  font: 650 0.8em var(--sentient);
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.refrain .refrain-text {
  padding: 0.5rem 0;
  color: var(--em-on-surface);
  text-align: center;
  font: 400 1.1em "Sentient Italic";
  line-height: 1.25em;
  text-wrap: balance;
}

.psalm-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  line-height: 1.5em;
}
.psalm-text:not(:has(*)) {
  min-height: 75vh;
}
.psalm-text h2 {
  color: var(--body-detail);
  font: 400 1em "Sentient Italic", sans-serif;
  font-size: 1.2em;
  padding-left: 2.75em;
  padding-bottom: 0.25rem;
}
.psalm-text h2:not(:first-of-type) {
  padding-top: 1rem;
}
.psalm-text .verse {
  display: grid;
  grid-template-columns: 2em 1fr;
  gap: 1rem;
}
.psalm-text .verse .vn {
  color: var(--body-detail);
  text-align: right;
  font: var(--body-font);
}
.psalm-text .verse .vs {
  min-width: 14ch;
  max-width: fit-content;
  padding-left: 1.5em;
  color: var(--text-on-body);
  text-wrap: pretty;
}
.psalm-text .verse .vs .vi-1 {
  text-indent: -1.5em;
}
.psalm-text .verse .vs .vi-2 {
  text-indent: -1em;
}
.psalm-text .verse .vs .vi-3 {
  text-indent: -0.5em;
}
.psalm-text .verse .vs .marker {
  position: relative;
  bottom: 0.05em;
  opacity: 75%;
  color: var(--body-detail);
}

.def-up, .def-low, .voc {
  vertical-align: 0.05em;
  font: small-caps 600 1.15em "Bellefair", "Alegreya Sans", sans-serif;
}

.tetra-latin {
  font: small-caps 600 1.05em "Bellefair", "Alegreya Sans", sans-serif;
}

.tetra-hebrew {
  font: 500 1.25em "Bellefair", serif !important;
  transform: translateY(19px);
}

h3 .def-up, h3 .def-low, h3 .voc {
  font: small-caps italic 500 0.95em "Bellefair", "Alegreya", serif;
}

.pn-caps-enabled .pn-sub-up,
.pn-caps-enabled .pn-sub-low,
.pn-caps-enabled .pn-ob-low,
.pn-caps-enabled .pn-pl-up,
.pn-caps-enabled .pn-pl-low,
.pn-caps-enabled .pos {
  vertical-align: 0.0175em;
  font: 400 1.05em "Bellefair", "Sentient", serif;
  font-variant: small-caps;
}
.pn-caps-enabled h3 .pn-sub-up,
.pn-caps-enabled h3 .pn-sub-low,
.pn-caps-enabled h3 .pn-ob-low,
.pn-caps-enabled h3 .pn-pl-up,
.pn-caps-enabled h3 .pn-pl-low,
.pn-caps-enabled h3 .pos {
  font: 500 0.85em "Bellefair", "Sentient", serif;
  font-variant: small-caps;
}

/*# sourceMappingURL=styles.css.map */
